[2015-12-21 20:34] niccokunzmann opened #3 "Use one timer for the game loop"
threading.js uses several timers. This can be reduced to one timer per interval. The problem with many timers is that they tend to schedule differently when you use them for a long time. This can be seen as the obstacles move where they should not.

[2015-12-21 20:40] niccokunzmann opened #4 "make obstacles collidable"
When the bird hits an obstacle, it should collide with it and something should happen. But what? It should be enough for this of there is a method in the bird which is called like

    flappy.collidedWith(obstacle)

This can be something like an `alert`.

Really good would be:
This implementation should run in O(1) and not O(n) where n is the number of obstacles. Do not check every obstacle every

[2015-12-21 20:43] niccokunzmann opened #5 "Use hide and show methods for Flappy and Background"
Flappy and Background have hide and show methods. These should be used preferably before setting the layer's style

[2015-12-21 20:45] niccokunzmann opened #6 "Add the fossasia logo to the start screen."
At the start screen add the fossasia logo and when one clicks it, one should be redirected to the fossasia site.

[2015-12-21 20:47] niccokunzmann opened #7 "Add a github edge to the startscreen"
There are really cool SVG's for github that appear in the corner of the document. Add one of these to redirect to this repository.

- http://codepen.io/elrumordelaluz/pen/XmygWX

[2015-12-22 10:21] niccokunzmann commented on #7
Leave a comment of you want to work on this issue.

[2015-12-22 10:22] niccokunzmann commented on #6
Leave a comment of you want to work on this issue.

[2015-12-22 10:22] niccokunzmann commented on #5
Leave a comment of you want to work on this issue.

[2015-12-22 10:22] niccokunzmann commented on #4
Leave a comment of you want to work on this issue.

[2015-12-22 10:22] niccokunzmann commented on #3
Leave a comment of you want to work on this issue.

[2015-12-23 09:33] PohSayKeong opened #10 "Design an icon for the project"
Create a 128x128 icon and place in the icons directory, make sure it's in .svg format.

[2015-12-23 10:13] niccokunzmann commented on #10
Should it be in .ico format, too? It could also be the icon of the index.html file. there are meta tags to set the icon.

[2015-12-23 10:14] niccokunzmann opened #11 "Create FirefoxOS App"
@PohSayKeong, we will discuss everything here instead of in the task.

[2015-12-23 10:49] PohSayKeong commented on #10
Yeah preferably both.

[2015-12-23 11:25] niccokunzmann commented on #11
@PohSayKeong, if we can get this completed until 27th, we may be able to show it at the 32c3 on a FirefoxTV.

[2015-12-23 12:10] niccokunzmann opened #12 "Remove click delay for Android Smartphone/Tablet"
When I open [Flappy SVG](http://fossasia.github.io/flappy-svg/) on an Android tablet in the browser, I get a 300ms delay from click to flap. This delay should be removed.

[2015-12-23 13:50] shashank-sharma commented on #6
I would like to work on this issue

[2015-12-23 14:01] niccokunzmann commented on #6
Sure, you can do that! Please try to find an SVG version of the logo if it exists. It will be smaller in size and have a better resolution.

[2015-12-23 14:26] niccokunzmann commented on #6
Great work. Please claim [this task](https://codein.withgoogle.com/tasks/5378521694208000/). We can approve it, then. Please know that this was an easy issue and you should not solve easy issues now. However, adding a character is the next easier task.

[2015-12-23 14:28] niccokunzmann commented on #6
Issue closed, #13 and #14 solve it.

[2015-12-23 14:28] #6 closed

[2015-12-23 14:58] PohSayKeong commented on #7
issue solved at #8

[2015-12-23 17:16] niccokunzmann commented on #7
Merged, you can claim the google codein task.

[2015-12-23 17:39] niccokunzmann commented on #7
You can
- add new issues
- create new pull requests without claiming a task
- for claiming a task you should use the middle and hard issues

[2015-12-23 17:39] #7 closed

[2015-12-29 17:37] anniezhou301 commented on #10
How's this for an icon? It has two humps to show the camel, and has a landscape-esque feel to it, whose colors match the background of the game. I have it in svg and ico format as well, and can make changes.
![favicon](https://cloud.githubusercontent.com/assets/8906927/12038780/d9bb091c-ae28-11e5-975e-1d51b0567d76.png)
.

[2015-12-29 17:40] jig08 commented on #10
In my humble opinion, it could be better :)

[2015-12-29 18:50] niccokunzmann commented on #10
Can you remove the black lines or make them very important? You should look at it when it is about 20x20 pixels which is the size it has in the browser window. Small things like the lines will not be recognized. I like the humps as they are the movement that the different figures make. (click on the camel and you get a bat)

 @PohSayKeong What do you think?

[2015-12-29 21:46] sudheesh001 commented on #10
@anniezhou301 , That's a great icon, in my suggestion, drop the solid black lines and add a shadow like those of flat icons.
![featured13 wdd2x](https://cloud.githubusercontent.com/assets/4545925/12042727/bfffe48c-ae8e-11e5-966e-f4f15f5ed973.jpg)

[2015-12-29 21:47] anniezhou301 commented on #10
Yup, I'll rework it. Thanks!

[2015-12-29 23:05] anniezhou301 commented on #10
How's this design?
![favicon](https://cloud.githubusercontent.com/assets/8906927/12043810/bda89acc-ae56-11e5-8bbe-f3c1e5326e03.png)

[2015-12-30 02:27] PohSayKeong commented on #10
I feel that it's pretty nice and relevant as well considering the fact that the all the characters are included in the logo. It should work fine for a start, but in the future when there are more and more characters, an update will probably be needed.

[2015-12-30 05:31] jig08 commented on #10
@sudheesh001 , @niccokunzmann +1 on removing the solid lines and adding a shadow.
@anniezhou301 Yes, This looks nice. As @PohSayKeong says, it encompasses the characters relevantly.

[2015-12-30 05:57] sudheesh001 commented on #10
@anniezhou301 That's really good work.

[2015-12-30 05:59] anniezhou301 commented on #10
Thank you! Any suggestions?

[2015-12-30 06:02] jig08 commented on #10
Make a PR ? :wink:

[2015-12-30 07:37] niccokunzmann commented on #10
@anniezhou301 Cool! Are you familiar enough with Github to make a pull-request? You can search how to do this. The process should be roughly:
1. fork this repository
2. add your files (You should also add your name to the Contributors.md file)
3. create a pull-request

[2015-12-30 08:00] niccokunzmann commented on #10
Ok, I found it. Usually you would reference this issue in the pull request with "#10". Here are some other remarks:
Can you
- add your name to the contributors.md file?
- make the icon used by the index.html file? stackoverflow.com/questions/9943771/adding-a-favicon-to-a-static-html-page
Both is possible as one pull-request.

[2015-12-30 17:25] niccokunzmann commented on #10
Thanks a lot for this beautiful icon! If you want to go on with this game, you can choose from the other tasks. If you have questions, you can ask. Adding a new character or a new background could be a next step.

[2015-12-30 17:25] #10 closed

[2015-12-30 17:27] anniezhou301 commented on #10
Definitely! I just want to thank everyone for being so helpful and supportive. It was a lot of fun working with you guys.

[2016-01-03 11:25] harry-7 commented on #5
I want to work on the issue. I need some more explanation on what to do :)

[2016-01-03 18:25] niccokunzmann commented on #5
This is a code refactoring task. there are things like style.visibility=none in the code that hide and show elements. these should be replaced with the calls to the objects methods: hide() and show().

Why this is important: In the future this will allow for the hide and show methods to contain e.g. stopping an animation.

[2016-01-04 04:56] harry-7 commented on #5
ok i am in. i will do the task .

[2016-01-05 08:38] niccokunzmann commented on #5
Yes, that is what I mean. I did not remember clearly.

[2016-01-05 13:50] harry-7 commented on #5
Shall i make layer as a class or just add functions in layer.js file ?

[2016-01-05 17:26] niccokunzmann commented on #5
I think, both could be ok. Go for the option which you think you would like to use and which results in understandable and usable code.

[2016-01-05 18:10] harry-7 commented on #5
Ok . I ll try to make layer as a class and add methods just like gameobject class

[2016-01-05 18:15] harry-7 commented on #5
I ll make two functions show and hide in layers.js so that any layer can use that method

[2016-01-05 18:30] harry-7 commented on #5
I created a pull request making necessary changes  as i thought. https://github.com/fossasia/flappy-svg/pull/17

[2016-01-05 19:37] niccokunzmann commented on #5
Hi, it looks promising. I added a few comments.

[2016-01-06 05:19] harry-7 commented on #5
I made one more commit . Please have a look at it

[2016-01-06 08:20] niccokunzmann commented on #5
One mistake is still in: Please run the game and test it. The camel does not disappear if you click it at first, because the flappy variable is still null.

[2016-01-06 10:10] harry-7 commented on #5
I am unable to see the mistake u have mentioned . can u please provide a screen cast or a screen-shots for this.

[2016-01-06 11:55] niccokunzmann commented on #5
You are right, I used the wrong commit - now it works perfectly. Thanks. Now, the code looks much better.

You should comment on this at Google Code-In with a link to this issue and submit it so it can be accepted.

[2016-01-06 11:55] #5 closed

[2016-01-06 11:57] niccokunzmann commented on #5
Also, create a new pull-request if you would like to be listed under https://github.com/fossasia/flappy-svg/blob/gh-pages/Contributors.md

[2016-01-06 12:46] harry-7 commented on #5
Thanks :D . Where in the google Code-In can you provide me the link please

[2016-01-06 13:00] niccokunzmann commented on #5
So, the link to the task would be https://codein.withgoogle.com/tasks/5378521694208000/
And there is the file https://github.com/fossasia/flappy-svg/blob/gh-pages/Contributors.md
You can add your name and link to it if you like to. You contributed : )

[2016-01-06 13:03] niccokunzmann commented on #5
If you have ideas for new issues, they are welcome.

[2016-01-06 13:32] harry-7 commented on #5
I created a new pr by adding my name to contributors list. I am above 17 years so can i still participate in code-in ?
This is the pull request https://github.com/fossasia/flappy-svg/pull/18

[2016-01-06 14:21] jig08 commented on #5
@harry-7 Unfortunately, No.

[2016-01-06 14:25] jig08 opened #19 "Formatting/Aligning the text on home/welcome screen"
In my opinion the text **JoJo Let's Goo** could be aligned such that `Goo` is clearly visible. The overlapping with the sand dunes behind is not giving it a good look.

![screenshot from 2016-01-06 19 52 13](https://cloud.githubusercontent.com/assets/9291400/12144640/1fe5e3b2-b4af-11e5-92bc-64eb3eab45e8.png)

[2016-01-06 14:31] harry-7 commented on #5
Its ok . Thanks for merging my pull-request.  :)

[2016-01-06 16:26] harry-7 commented on #19
I want to take the task

[2016-01-06 16:44] niccokunzmann commented on #19
@harry-7 When you take this task, please also help us, to create new, easy tasks for beginners. I think you are creative and have some ideas about how the game can be changed to the better. Can you write them down as issues? That will help getting students into the game.
@jig08 Can you review it and see if it fits your intention? My suggestion would be to put some white, blurry, transparent backgr

[2016-01-06 16:54] harry-7 commented on #19
@niccokunzmann The game is not yet complete right. So can i add implementing lives and end of game functionality as an issue over there.

[2016-01-06 17:29] jig08 commented on #19
It looks better than the previous one. I think this issue could be closed and we could create a new task/issue for improvising the Home/Welcome screen. What say @niccokunzmann  ?

[2016-01-06 17:32] jig08 commented on #19
One theme's welcome screen seems to have been changed, but the other could also be enhanced @harry-7 .

![screenshot from 2016-01-06 23 00 23](https://cloud.githubusercontent.com/assets/9291400/12149348/4b543b9c-b4c9-11e5-98ab-9867a3aac469.png)

![screenshot from 2016-01-06 22 59 59](https://cloud.githubusercontent.com/assets/9291400/12149347/4b53dcf6-b4c9-11e5-9eba-c2c922ec3db2.png)

[2016-01-06 17:41] harry-7 commented on #19
@jig08  I added one more commit . please have a look at it.

[2016-01-06 17:47] jig08 commented on #19
Looks better, still there is a scope for improvement especially on the GUI part. Feel free to make necessary changes @harry-7 .

![screenshot from 2016-01-06 23 16 30](https://cloud.githubusercontent.com/assets/9291400/12149765/900c8198-b4cb-11e5-8dff-baf4614b9aa6.png)

[2016-01-06 18:11] harry-7 commented on #19
@jig08 Can i add an issue to improve the background images that are used ?

[2016-01-06 18:14] jig08 commented on #19
Sure, go ahead !

[2016-01-06 18:15] #19 closed

[2016-01-06 18:25] harry-7 opened #21 "Enhance the GUI"
- Improve the Background, Images & Icons used

  _They can be changing the shapes of sun and moon and camel . They can be made some what better. Improvements can also be made to Buildings that are shown in Gotham background etc._
- Work on Home/Welcome Screen

  _Welcome screen can be enhanced by improving the images that appear and the header_ **JoJo Let's   Goo** _can be adjusted neatly and appr

[2016-01-06 18:28] harry-7 commented on #21
@niccokunzmann @jig08  Add some labels to this task. I am unable to add labels.

[2016-01-06 18:28] jig08 commented on #21
Yes will do, and I have also added a slightly detailed description

[2016-01-06 18:29] harry-7 commented on #21
@jig08  Its looks better now . Thanks :) . Why am i unable to add labels to the issues ?

[2016-01-06 18:53] jig08 commented on #21
@harry-7 Would you be working on this ?

[2016-01-06 18:54] harry-7 commented on #21
No . I intended some one new to do this task :)

[2016-01-06 18:59] niccokunzmann commented on #19
Sure, you can create as many issues as you like.

[2016-01-06 19:02] harry-7 commented on #19
But i cant add labels to it :P

[2016-01-06 19:04] jig08 commented on #19
@harry-7 We shall add them, Don't worry :)

[2016-01-06 19:04] niccokunzmann commented on #21
@harry-7 Could you characterize the improvements in the description at the top, if you have something in mind? Otherwise you will not see what you had in mind. Maybe even, this can be split into several issues. Formalizing it will show.

[2016-01-06 19:08] niccokunzmann opened #22 "Animate a Character"
Animate something: the Camel, the Bat, the sun, the moon. They can have glowing eyes, flap, walk, jump, look at the mouse, ... - as you please
You should use SVG animations for this. You can find one in the top right corner for example. But there are great tutorials in the internet.

[2016-01-06 19:14] harry-7 commented on #21
@niccokunzmann Have a look at description now. If you have any ideas regarding this issue Feel free to edit the description

[2016-01-06 19:20] niccokunzmann commented on #21
I think it is ok. @harry-7 @jig08 I will remove your comments soon, so it does not look crowded from the beginning. They were a meta-discussion which is not useful for people who want to solve the issue.

[2016-01-06 19:23] harry-7 commented on #21
Those who want to work on the issue . Coment here

[2016-01-09 09:47] niccokunzmann opened #24 "Android App: Restart Game"
In the context menu of the App-game, there can be a button to restart the game.
This will reload the site.

Comment if you would like to solve this issue.

[2016-01-09 09:54] niccokunzmann opened #25 "Android app: Make it playable offline"
The Flappy Game should be playable without internet connection.

A possible implementation could look like:
- Download the zip file of the project if there is an internet connection. https://github.com/fossasia/flappy-svg/archive/gh-pages.zip
- open/unpack the zip file
- serve the contents via an HTTP-Server to the existing web viewer OR open the local files directly in the web viewer.

I expect i

[2016-01-09 09:55] niccokunzmann opened #26 "Android App: Open Links in Browser"
When there are links clicked in the web viewer, they should be opened in the browser.

Assigning middle difficulty because I do not know how to do that.

Comment if you would like to solve this issue.

[2016-01-09 14:56] antoniomdk commented on #25
I would like to solve this issue.

[2016-01-09 14:56] jig08 commented on #25
@antoniomdk Go Ahead .

[2016-01-09 18:14] antoniomdk commented on #25
I did a pull request. I tested in my device and the apps works offline, but I don't know if I used the correct method.

[2016-01-10 12:43] niccokunzmann opened #28 "Android App: Error Output"
Errors occur and must be caught. Some of them must be shown to the user.

- When the app could not download a new version of the game
- When there is no version of the game because it was never downloaded
- https://github.com/antoniomdk/flappy-svg/commit/a0615baab59734a2f679cdb5731a0a6049d9e9f3#commitcomment-15359600

What are your ideas, @antoniomdk ?

[2016-01-10 12:56] niccokunzmann opened #29 "Create About Page"
The start page is really crowded. Create a layer/page named "about".
This layer/page includes:

- The Github link
- The Fossasia Link
- A Link to the Andriod App
- The Link to the rotoscopes, when you click the sun
- A Link back to the game.

Also, remove these links from the start page and add a link to the about page/layer.

Comment if you would like to do this issue.

[2016-01-10 12:59] antoniomdk commented on #28
* If the app has a previous version of the game, it is playable.
* If there is no previous version of the game:
  * Send a message: "Please connect to internet to download the game*
* I think that when the apps runs first time, that it shows a progress bar to let users now that it is downloading the game. And in the next times, it does not appear.

[2016-01-10 20:02] niccokunzmann commented on #25
Great work @antoniomdk ! If you like to create pull requests for any changes to the app, you can go ahead, I will review them :) You can claim the [Google Code-In task](https://codein.withgoogle.com/dashboard/tasks/6315213729038336/), if you like. If you would like to do this task again, we can copy it. There is also a task for easy issues. I am really happy to have you contribute.

[2016-01-10 20:03] #25 closed

[2016-01-10 20:05] niccokunzmann commented on #25
@antoniomdk Do you have a developer account for the Google-Playstore? If not, I will see what we can do to upload the app.

[2016-01-10 20:08] antoniomdk commented on #25
Yes I have a developer account, but I would like to fix some issues before. But if you like, I can upload the app now.

[2016-01-10 20:23] niccokunzmann commented on #25
I would view it as a 1.0 version - the basics work. You can upload it as soon as you like. Please tell me, when it is the case.
What I really like about it: Now, young people can create new characters and after merge, they turn up in an app in the app store :)

[2016-01-10 20:33] antoniomdk commented on #25
Ok. I am going to fix #28 and #24 and I will upload the app. I just need some description text of other languages I will write it in Spanish and I will try to write it in English.

[2016-01-10 20:42] niccokunzmann opened #30 "Translate descriptions"

[2016-01-10 20:57] #30 closed

[2016-01-10 21:01] niccokunzmann commented on #25
I uploaded a structure for the descriptions. They will be valuable for any app to come. If you write the English one, I will add my ideas, translate it to German and maybe to Russian.

[2016-01-10 21:15] antoniomdk commented on #25
Ok, Tomorrow, I will write the Spansh one and I will start translating it to English. Translation would be a easy issue. I also think that we should create a branch of android to reduce the game zip.

[2016-01-10 21:54] niccokunzmann commented on #25
We have two branches now:

- gh-pages -  the game
- master all the rest

[2016-01-11 00:05] antoniomdk commented on #25
Ok, but How Can I change the branch for commits?

[2016-01-11 08:14] niccokunzmann commented on #25
Have a look: http://stackoverflow.com/questions/1783405/checkout-remote-git-branch

[2016-01-11 13:28] antoniomdk commented on #25
When I did the pull request,  I set base of máster, and it can be merge correctly. i do not know if it works.

[2016-01-11 13:58] niccokunzmann commented on #25
We will see. It looks like it works now: your gh-pages goes into fossasia:master

[2016-01-11 19:59] niccokunzmann commented on #24
#31 fixes this issue.

[2016-01-11 19:59] #24 closed

[2016-01-11 20:05] niccokunzmann commented on #28
@antoniomdk I did not test all the cases listed here. If you are sure that these cases are all in the app, I will close it.

[2016-01-11 20:10] niccokunzmann opened #32 "Andriod App: Only serve local version"
The Android app uses the online version of the game for download.
The downloaded version should be used to play the game in order to reduce bandwidth usage and response time.

 Short:
- Always serve the local copy of the game.

[2016-01-11 21:08] antoniomdk commented on #28
Ok, Test it, no problem. I think there are al cases but I prefer you to test it.

[2016-01-11 21:39] niccokunzmann commented on #28
Done:
- "updating app" message

To do:
- "Could not update App" message

Unable to test because I do not know how to delete the files:
- progress bar
- "app is downloaded for the first time" message

[2016-01-11 23:14] antoniomdk commented on #28
There is no progress bar, I send an start message and a finish message."app is downloaded for the first time" message: It is "Downloading Game" message.

[2016-01-12 10:31] antoniomdk commented on #32
Can I do this task? I think I can add a "first download progress bar" and after that, run the game. Or maybe I should let other people take issues.

[2016-01-12 10:33] antoniomdk commented on #28
Files are stored in folder named "cachefolder".

[2016-01-12 21:24] niccokunzmann commented on #32
Currently, you are the only one working on this repository. You can solve this issue. It is really simple - thus I did not tag it for google code-in. If you like, go ahead. But please use a different pull-request.

[2016-01-12 21:26] antoniomdk commented on #32
In fact,  i have solve It.

[2016-01-12 21:36] niccokunzmann commented on #32
Please always reference issues and pull requests with this "#" operator. It allows us to see when people work on issues or to close all issues, once a pull-request is merged.

[2016-01-12 21:53] antoniomdk commented on #4
I think I can do this issue. But, Is there any game loop?

[2016-01-12 22:02] niccokunzmann commented on #4
There are several game loops, using the threading.js file. This issue focuses on a good algorithm that works for any kind of obstacles. No behavior is specified.
I thought of a `Flappy.collidedWith(obstacle)` function. Have a look if that fits. You can do it.

[2016-01-12 22:04] antoniomdk commented on #4
Yes, I think I will use flappy:move loop to detect the next obstacle.

[2016-01-12 22:18] niccokunzmann commented on #28
I would say this can be closed. Any objections?

[2016-01-12 23:05] antoniomdk commented on #28
No objections, you can close it,

[2016-01-12 23:13] antoniomdk commented on #4
I have a question. How can I access to SVGElement child?. When I use a layer, I get the obstacle layer SVGElement, but I need to get its children. I tried to use .childNodes but it creates a strange type.

[2016-01-13 09:26] #28 closed

[2016-01-13 09:34] niccokunzmann opened #34 "Bug: Blank screen in browser - game not loaded"
When I open the page http://fossasia.github.io/flappy-svg/

Then I get the error

    Load denied by X-Frame-Options: http://fossasia.github.io/flappy-svg/flappy.svg does not permit framing.

This should not be! The game should be playable.

Hints to solve this:
- embed the SVG inside the html file using [jekyll](http://jekyllrb.com/) which is built into github pages OR
- use another [embed method

[2016-01-13 11:19] niccokunzmann commented on #32
solved in #33

[2016-01-13 11:19] #32 closed

[2016-01-13 18:16] niccokunzmann commented on #34
Seems like the issue solved itself by waiting.

[2016-01-13 18:16] #34 closed

[2016-01-13 19:16] yesicaambriz15 commented on #22
I would Like to solve this

[2016-01-13 19:22] jig08 commented on #22
@yesicaambriz15 Go ahead. Show your creativity !

[2016-01-14 09:35] niccokunzmann commented on #22
@yesicaambriz15 If you need any help or you have questions, let us know here.

[2016-01-14 14:26] alan-aipe commented on #29
@niccokunzmann
I would like to do it. But I cant understand how hyperlinks are linked in th start screen. There is no <a> tag anywhere. So how is it linked?

[2016-01-14 17:14] yesicaambriz15 commented on #22
Can you show me an example

On Thu, Jan 14, 2016 at 3:35 AM, Nicco Kunzmann <notifications@github.com>
wrote:

[2016-01-14 17:48] niccokunzmann commented on #29
@alan-aipe Yes, you can do it! Go ahead!

[2016-01-14 19:12] niccokunzmann commented on #22
@yesicaambriz15 have a look at this tutorial: http://tutorials.jenkov.com/svg/svg-animation.html
Also, we have a .css file next to the svg file where there is already the animation for the github link in the top-right corner.

[2016-01-15 04:38] Juanvulcano commented on #26
Hi there! I would like to solve this one :)
I'm trying to look out for the file that redirects to fossasia.org in the background
May you tell me where is it? Thanks in advance !

[2016-01-15 08:46] niccokunzmann commented on #26
Have a look at https://github.com/antoniomdk/flappy-svg/blob/master/FlappySVG_Android/app/src/main/java/fossasia/flappysvg/GameActivity.java
It downloads the game and serves it from the local files.
Also, @antoniomdk wrote the code for the app and can be asked.

I just found a link that could be useful for you. https://developer.android.com/guide/webapps/webview.html#BindingJavaScript
But there ma

[2016-01-15 11:16] antoniomdk commented on #26
Have a look at Webview client and Javascript code in Android.

[2016-01-16 09:51] niccokunzmann opened #43 "Add Flappy SVG to gci15.fossasia.org"
At [gci15.fossasia.org](http://gci15.fossasia.org/#student_games) there is a section for student games.
We can add the Flappy SVG game to it.

TODO:
- review and merge #42
- use the SVG as the logo for [index.html](https://github.com/fossasia/gci15.fossasia.org/blob/gh-pages/index.html#L554)

[2016-01-16 21:49] niccokunzmann commented on #43
Done, you can see it at http://gci15.fossasia.org/#student_games

[2016-01-16 21:49] #43 closed

[2016-01-17 15:11] antoniomdk opened #45 "Distance Counter"
Create a distance counter. It needs:
- Label in the top of screen.

You can use:
- Background velocity.

[2016-01-17 15:14] antoniomdk opened #46 "Game over screen"
Create a game over screen. It have to be a layer in the svg file and contains a button to restart the game with functionality.

[2016-01-18 16:23] niccokunzmann commented on #4
#47 is your pull request 44 but without the android files. You can review the changes.

[2016-01-18 16:26] antoniomdk commented on #4
Exactly!

[2016-01-19 09:53] niccokunzmann opened #50 "Create a task section"
**Context**
When Google-Codein is over, we still want to go on writing the game and get new developers into open source. They may even never have programmed before.

**Objective**
Make it as easy for them as it is for Google Code-In students to start.

**Ideas**

- [x] We can copy the English and German task descriptions into a folder
- [x] We should give advice how to start with github, see the G

[2016-01-20 16:58] antoniomdk commented on #45
I want todo this task.

[2016-01-20 17:05] niccokunzmann commented on #45
Sure, go ahead.

[2016-01-29 13:27] niccokunzmann commented on #50
We can add the tasks to fossasia's mini-projects & labs repository.

[2016-01-29 13:30] niccokunzmann commented on #4
TODO:

- When colliding something useful should happen
- check if collision detection runs fast enough

[2016-01-31 12:15] jig08 commented on #50
@niccokunzmann +1

[2016-01-31 19:38] niccokunzmann commented on #29
#57 closes this.

[2016-01-31 19:38] #29 closed

[2016-01-31 19:41] niccokunzmann opened #58 "Create a "Credits" Page"
There from the links page one should be able to view the contributors of the project.
The are located in the [master branch in the Contributors.md](https://github.com/fossasia/flappy-svg/blob/master/Contributors.md) file. They should be shipped along with the code.

What should be added:
- [x] Names with Links
- [x] License with picture
- [x] a notice where to add the name of contributors in the c

[2016-02-04 09:04] SilentFlame commented on #58
@niccokunzmann
Where exactly you want the link for the "Credits" page to be present.

[2016-02-04 09:18] niccokunzmann commented on #58
We moved the links to https://github.com/fossasia/flappy-svg/blob/gh-pages/links.html in order to keep the front page simple. I think, one link there is still free, that can be used. Where would you put it?

[2016-02-04 09:24] niccokunzmann opened #60 "Randomize Front Page"
The front page only shows the camel and the desert.
One can randomize it and show randomly
- [x] different backgrounds
- [x] different characters at the start

Comment if you would like to do solve this issue.

[2016-02-04 09:28] SilentFlame commented on #58
you mean the link with the paint brush.
yes we can use that for this purpose and can also think to change the logo of that link.
Let's start with first importing just the names and the link part.

[2016-02-04 09:36] niccokunzmann commented on #58
Sounds good.

[2016-02-04 10:27] SilentFlame commented on #58
So all I need to do is provide the link to Contributors.md file in place of the paint logo.
or do I need to present all this in a good looking html page too.?

[2016-02-04 19:32] SilentFlame commented on #3
will like to work on this.

[2016-02-04 22:21] niccokunzmann commented on #3
Sure, go ahead!

[2016-02-06 08:54] SilentFlame commented on #3
how to get started here?
as I have no idea about this.

[2016-02-06 09:15] SilentFlame commented on #58
can we now move to the next phase of this issue.
part 2.
Licence with pictures.
can you please elaborate the work needed to be done here.

[2016-02-06 09:15] niccokunzmann commented on #58
Thanks @SilentFlame for adding the credits page! If you have ideas about how to improve it or the game in general, you should add issues. You can claim them but also others can claim them. An issue is the place to discuss the goal and possible ideas and expected outcomes whereas a pull-request is there to discuss how the code matches the issue. If you separate both, you get better code and a bette

[2016-02-06 09:21] niccokunzmann commented on #58
For the License, you can have a look at the LICENSE files and at https://github.com/fossasia/flappy-svg/tree/master#lizenz .

The license ensures that everyone contributing gets credit for that and as long as this is the case, one can use, distribute and modify the game as one likes.

Have a look at https://creativecommons.org/choose/ . There you can generate the HTML code.

- Title: Flappy SVG
-

[2016-02-06 09:25] niccokunzmann commented on #3
If you have a look at [threading.js line 38](https://github.com/fossasia/flappy-svg/blob/gh-pages/javascript/threading.js#L38), you see that every action starts its own interval. We can reduce the number of started intervals to only one that performs all actions. That is the idea. How would you go about it?

[2016-02-06 10:00] niccokunzmann opened #62 "Make links and credits page show text when window is resized"
Looking at

- http://fossasia.github.io/flappy-svg/links.html
- http://fossasia.github.io/flappy-svg/credits.html

**Problem** When you zoom in, the black background gets bigger and fills the screen so one must zoom out again.
**Wish** when zooming, the writing should still stay where it is but become bigger.
**Possible Solution** one could set the background color to black and remove the div elem

[2016-02-06 10:11] niccokunzmann opened #63 "Use links instead of onclick="...""
Using links instead of onclick= should be able to achieve the same except that now we can choose where to open the link (new tab, same page) and copy it.

Discussion is open!

[2016-02-06 10:44] niccokunzmann opened #64 "Add description of how to get started"
in the contributing.md:
- [x] link to the tasks

In general:
- [x] add headings to the tasks
- [x] check links in tasks if they still work
- [x] contributing.md moved to credits.html
- [x] add a task about translation
- [x] add links to github/git tutorials

[2016-02-07 03:55] SilentFlame commented on #58
Where exactly we need to add this licence?
As I was thinking to add the same licence as that is present in the Flappy-SVG git repo, what do you say?.
and what exactly you mean by Licence with picture, picture of what?

[2016-02-07 05:52] mukesh14149 commented on #63
It is better to open links in new tab.

[2016-02-07 07:46] mukesh14149 commented on #60
Check it out!

[2016-02-07 09:03] mukesh14149 commented on #60
Check it now @niccokunzmann

[2016-02-07 10:34] niccokunzmann commented on #58
Yes, you can use exactly that. I just wanted to give you more context and the ability to generate the HTML code for it.
You can use the English text and the image in the README.md on the master branch.

[2016-02-07 10:57] niccokunzmann opened #69 "Do something useful on collision"
We have code in place that opens a alert window when a Flappy hits an obstacle #4.
The alert should be replaced with something useful.

1. [x] Add Ideas on what should happen.
2. [x] We discuss them.
3. [ ] Someone implements it.

Comment if you would like to work on this issue.

[2016-02-07 11:03] mukesh14149 opened #70 "No hit point in background Gotham."
While playing with background Gotham, there is no obstacle come in path, it is just going and going.
@niccokunzmann

[2016-02-07 11:05] niccokunzmann opened #71 "fine collision detection"
Currently, we have a collision detection that checks the rectangle of the obstacle. This leads to a lot of hits even if there are no. See #4 for suggestions.

The new collision detection reduces the number of wrong hits. Comment if you would like to do this.

[2016-02-07 11:07] niccokunzmann commented on #4
@antoniomdk I added two new issues that should cover what should be done furthermore. If I missed something, tell me. Closing this now, as it is hopefully covered in #71 and #69.

[2016-02-07 11:07] #4 closed

[2016-02-07 11:17] niccokunzmann commented on #70
I guess, the problem is that the obstacles layer of Gotham is a background and not a obstacle layer.

Someone can comment and solve it :)

[2016-02-07 11:19] mukesh14149 commented on #70
Yeah sure!

[2016-02-07 11:21] niccokunzmann commented on #60
Thanks @mukesh14149 ! This issue is solved in my understanding.

[2016-02-07 11:21] #60 closed

[2016-02-07 11:28] mukesh14149 commented on #63
@niccokunzmann  this issue should be close, as i already done this in fixed issue #60.

[2016-02-07 11:34] #63 closed

[2016-02-07 11:35] niccokunzmann commented on #63
@mukesh14149 You can add you name to the cedits.html file if you like.

[2016-02-07 11:55] niccokunzmann opened #73 "Fix links in links.html"
The links.html file four links in the middle.
If you look how it is implemented, these two if constructs do the switch between the different views the page can be in, in lines [3](https://github.com/fossasia/flappy-svg/blob/gh-pages/javascript/links.js#L3) and [21](https://github.com/fossasia/flappy-svg/blob/gh-pages/javascript/links.js#L21):

	if(document.getElementById('x3').innerHTML.indexOf('i

[2016-02-07 11:57] SilentFlame commented on #73
on it.

[2016-02-07 12:02] SilentFlame commented on #58
now where exactly you want this license to be placed?
I mean which file or directory.

[2016-02-07 12:09] antoniomdk commented on #4
It is fine. You could merge game over screen with collision to create an issue.

[2016-02-07 12:45] niccokunzmann opened #74 "Android App: change source of flappy file download"
**Context**
Currently, everyone is able to check the working of the game as a website. There is no way to test a pull-request whether it works on the app.

**Solution**
Add the ability to change to where to download the game from.

**Hints**
- The default should be fossasia's flappy-svg
- One should be able to test pull-requests
- If someone forks it this person should also be able to play the own

[2016-02-07 12:49] niccokunzmann commented on #58
I think it should at the bottom of the credits page. This is where I would expect it to be. Which ideas came into your mind?

[2016-02-07 13:11] SilentFlame commented on #58
I got bit confused about the things, no problem now things getting in grip. :)

[2016-02-07 13:24] niccokunzmann commented on #50
I copied the tasks from Google Code-In over there: https://github.com/fossasia/flappy-svg/tree/master/tasks#tasks
Feel free to add tasks you think of. They should be "endlessly" repeatable - unlike an issue.

[2016-02-07 19:24] mukesh14149 commented on #70
I think the obstacles layer of gotham is correct i.e Gotham_obstacles, but still this not working, when i change (createObstacles("Gotham_obstacles"); to createObstacles("cactus"); ) in method gothamShow() in background.js file it works fine but with Gotham_obstacles it doesn't work, can you help me little to resolve it @niccokunzmann

[2016-02-07 19:35] niccokunzmann commented on #70
Okay, I think the problem might be that only `g` objects (groups) are allowed as obstacles. We discussed this would need treatment. The problem could be [here](https://github.com/fossasia/flappy-svg/pull/44#discussion-diff-49937381). Obstacle collision still needs work but we have a basic version running.

[2016-02-07 19:56] mukesh14149 commented on #70
g objects(groups) is used for every layer like background, SunAndMoon, sky, Gotham_obstacle, cactus etc so i tried replacing different layers for createObstacles(layer) and found only cactus layer react as obstacle.

[2016-02-07 20:00] mukesh14149 commented on #69
We should restart the game again and let the user to select background and characters again. We should also place a score board according to how  far a character has traveled.

[2016-02-07 20:06] niccokunzmann commented on #70
I am referring to

    var list = layerNamed(layer).getElementsByTagName("g");

especially to `getElementsByTagName`. This line says that only group objects can be obstacles.

[2016-02-07 20:09] niccokunzmann commented on #50
all points are done. closing this.

[2016-02-07 20:09] #50 closed

[2016-02-07 20:13] mukesh14149 commented on #70
So its mean that only the tag name g can be can be a obstacles.

[2016-02-07 20:18] mukesh14149 commented on #70
I think they are grouped.
![screenshot from 2016-02-08 01 47 26](https://cloud.githubusercontent.com/assets/10887629/12874982/f7999956-ce05-11e5-8353-08670824be08.png)

[2016-02-07 20:32] niccokunzmann commented on #70
This is only one grouped. Look further.... The creator used clones to keep the file size down. There are several objects: the one g object and the use objects, the clones.

[2016-02-07 21:05] niccokunzmann opened #76 "Put all images into a folder"
There are a lot of images now.
All, except the flappy.svg image should be put into one folder, like it is with javascript and style.

- [x] add the images to the folder
- [x] update all links to the images

Comment if you would like to work on this issue.

[2016-02-08 04:39] mukesh14149 commented on #76
ok i do this

[2016-02-08 10:07] niccokunzmann opened #77 "Icons and Title"
- [x] Add a title to the index.html file
- [x] Add the favicon.ico to the credits.html page
- [x] Add a favicon.ico to the links.html page
- [x] The titles should have a similar structure in credits.html, links.html and flappy.html
- [x] The most informing part of the title should be in the first 8 characters

Comment if you would like to work in this issue. We can do several pull-requests for thi

[2016-02-08 10:13] niccokunzmann commented on #69
- I also think that one can create the score screen at first, showing just a fixed number. We have the issue #45 which cares about the distance counter.
- Also the score screen does not need to be reachable. We can first create it and use it later.

[2016-02-08 11:13] SilentFlame commented on #76
It seems that this issue is too resolved under my considering issue.
Hope its all right.
@mukesh14149 can you please have a review of it.

[2016-02-08 11:31] SilentFlame commented on #77
how about the following:

- `Flappy-SVG Game` as the title for index.html

- what exactly for `favicon.ico` needed, and what exactly it does?

- titles consistent across where?

[2016-02-08 12:30] mukesh14149 commented on #69
Ok i will work on it!

[2016-02-08 12:30] mukesh14149 commented on #76
yeah sure!

[2016-02-08 12:36] mukesh14149 commented on #74
So i have a few doubt i just download this app from play store and there is some bugs in it and i want to know where is the source code of this android app hosted.

[2016-02-08 12:50] mukesh14149 opened #78 "Can we made a Website for this?"
Can we have a website from there a user can download this game and play it offline instead of downloading from github.And we can add little information about the flappy-svg.

[2016-02-08 13:03] niccokunzmann commented on #78
Sure. Can you make a list with all the things you would like to see there and how to link to it and so on? (`- [ ]` are task lists) Maybe it can be a modification of links.html. What are your thoughts? If you write them down as specific as possible they can be discussed and other people could do this, too.
(This also trains in separating the description of the problem from the implementation, lead

[2016-02-08 13:07] niccokunzmann commented on #74
The source code is in the [master branch](https://github.com/fossasia/flappy-svg/tree/master). It was moved there to keep the size of the downloaded game small.

[2016-02-08 13:17] niccokunzmann commented on #76
Closing this, done.

[2016-02-08 13:17] #76 closed

[2016-02-08 13:20] niccokunzmann opened #79 "Link to links.html missing"
At the front page of http://fossasia.github.io/flappy-svg/ there was a  blue image that linked to the links.html. It disappeared. It should be there again so we can reach the links.html.
Maybe, it was moved into the images folder and the reference was not updated in flappy.svg.

[2016-02-08 13:24] mukesh14149 commented on #79
Ok i do it

[2016-02-08 13:37] niccokunzmann opened #80 "Add travis.ci tests"
There is a continuous integration server [travis.ci](https://travis-ci.org) we can use to ensure some facts about the game.
- [ ] Add travis.ci to the [github services](https://github.com/fossasia/flappy-svg/settings/hooks/new?service=travis)
- [ ] add a travis file, in it:
  - [ ] install phantomjs
  - [ ] install node to write the tests
  - [ ] install modules
  - [ ] run tests
- [ ] implement t

[2016-02-08 13:51] niccokunzmann commented on #79
No problem :) We three overlooked something.. Thanks for helping out!

[2016-02-08 15:07] mukesh14149 commented on #78
Yes it can be a modification of links.html
Initially a website contain

- [ ] Home tab:- It contain a play button that start the game online and little description about the game.

- [ ]In Download tab:- Two Download button, one is download for desktop(link to download as zip of git repository) and other for Download for android (It can be link to apk file of this game).

- [ ] A small documentati

[2016-02-08 16:08] niccokunzmann commented on #78
- [ ] Also a link to the playstore.

We could replace the android button in the [links.html](http://fossasia.github.io/flappy-svg/links.html) with a download button linking to the site you describe.

[2016-02-08 17:40] SilentFlame commented on #80
I would like to learn about this travis.ci thing.
has seen in many oggs github repo.

[2016-02-08 18:20] mukesh14149 commented on #78
It is better to create a new issue and specify all requirement @niccokunzmann

[2016-02-08 18:33] mukesh14149 commented on #74
@niccokunzmann  could you suggest some steps to me how can i do this, i am not able to get how can i  Add the ability to change to where to download the game from.

[2016-02-08 19:55] jig08 commented on #80
Sure, @SilentFlame go ahead.
Read about [Travis CI](https://travis-ci.org/) and sync this project for easy testing.

[2016-02-08 19:57] niccokunzmann commented on #80
Each repository can switch on the travis service. You can go to your forked repository, then settings and services and choose travis-ci and then you can test it on your repository. Tell us when you make progress or you need help :)

[2016-02-09 07:25] niccokunzmann commented on #74
Have a look at https://github.com/fossasia/flappy-svg/tree/master/FlappySVG_Android/app/src/main/java/fossasia/flappysvg/util and also, you can ask antoniomdk who wrote this version of the app.
Where are you stuck, what did you try?

[2016-02-09 08:02] niccokunzmann commented on #78
@mukesh14149 you can do this. If you do it, we both can edit.

[2016-02-09 08:10] SilentFlame commented on #58
now can we proceed to 3rd part and make this issue close.
where exactly do we want to add the notice thing.

[2016-02-09 08:12] niccokunzmann commented on #58
In the master branch there is a contributing file which one should read when contributing. It contains hints. There should be a hint that you can add your name and link to the credits page.

[2016-02-09 08:43] SilentFlame commented on #58
I have redirected all the `contribution.md`  to `credits.html`.
Now can we please remove this from here as now it does not make any sense.

I'm coming with the PR of part 3.

[2016-02-09 09:35] niccokunzmann commented on #58
Looks good. Would it be helpful to add a link to the source of the file somewhere, so one knows immediately where to edit? Would that be useful or not?

[2016-02-09 09:39] SilentFlame commented on #58
I guess if someone contributes to this project then he/she must clone and edit it.
In that process it's good for them to add their name down here and would be glad to do so, and this will give the newbies a good experience about the whole procedure.

I guess it's good kept it this way only, as this is a learning thing for the newbies too.

[2016-02-09 09:39] SilentFlame commented on #58
but we cab add a link if you like. :)

[2016-02-09 09:41] SilentFlame commented on #58
@niccokunzmann
ain't you on IRC?

[2016-02-09 09:55] niccokunzmann commented on #58
Usually I am not on IRC. But it is ok if we discuss it here. Where should I be on IRC?

Closing this, then.

[2016-02-09 09:55] #58 closed

[2016-02-09 11:31] SilentFlame commented on #73
working on the back button part.

[2016-02-09 11:38] mukesh14149 commented on #69
@niccokunzmann i have created a text layer(initially text is a random no.) for score, so is it ok for now or do i need to do something extra for score screen.

[2016-02-09 12:03] niccokunzmann commented on #69
I do not see it so I can not say. This is our list:
- [ ] Click something to restart the game
- [ ] character selection (1 and 2 should be solvable be refreshing the site)
- [ ] some shown score (a number)
- [ ] The elements should be visible, readable and recognizable in all cases.
I will check the layer for that.

[2016-02-09 12:08] niccokunzmann commented on #46
Also, look at #69.

[2016-02-09 13:38] jig08 commented on #46
@niccokunzmann We could remove the `GCI` labels now, I believe.

[2016-02-09 22:27] niksj commented on #62
I would like to work on this bug.

[2016-02-10 00:06] niccokunzmann commented on #62
Sure, go ahead!

[2016-02-11 08:24] SilentFlame commented on #79
is this issue is resolved?
@mukesh14149
or can I look through it.

[2016-02-11 08:26] SilentFlame commented on #73
do we need to change the name of the functions?
as now it all does make sense.

[2016-02-11 09:13] SilentFlame commented on #46
@jig08, @niccokunzmann, @antoniomdk   can you guys please guide me as to where I should add the Game over screen.
and where can I see the source code of the main game as need to understand it too.

[2016-02-11 09:22] SilentFlame commented on #22
anyone working on this??

[2016-02-11 09:31] niccokunzmann commented on #73
The names of the functions should describe what they do or what they stand for. You can rename them of cause. I wont judge you for long names as I am extreme on that, having functions with names of 40 characters :)

[2016-02-11 09:39] niccokunzmann commented on #22
@SilentFlame I think, nobody is working on it.

[2016-02-11 09:42] niccokunzmann commented on #46
Have a look at #69. The Game Over screen is in progress. Also, there is a pull-request for it: #85
This does not mean that we can not have different Game-Over screens. You can create an own Game-Over screen or help to bring the current effort forward.

[2016-02-11 17:01] mukesh14149 commented on #79
yes you can.

[2016-02-11 17:53] shubheksha commented on #77
Hey! I'd like to work on this issue. Should I submit a single PR for all the specified changes?
Also, is there something specific that needs to be used as the title?

[2016-02-11 20:33] oanarosca commented on #77
Hello! I did a little work on this, I hope it helps a bit :)

[2016-02-11 21:52] niccokunzmann commented on #77
Hi everyone! Welcome in board! In general: You can submit several pull-requests for one issue and we will discuss them :)

To me it seems like @oanarosca already solved the issue.
@shubheksha I accidentally merged too fast. If you like, you can still review the merge and tell me whether is issue can be closed and everything is to your satisfaction.

You are welcome to create issues for your own id

[2016-02-11 21:52] #79 closed

[2016-02-12 07:13] ashutoshsaboo commented on #73
Is this issue still open? Can I work on this?

[2016-02-12 07:30] SilentFlame commented on #73
@niccokunzmann but now in the initial phase the name of the functions make sense.
On the later they don't. so what would be your suggestion if we keep the name still the same.

[2016-02-12 07:39] ashutoshsaboo commented on #21
Hi! I am interested for this. But just before proceeding, would like to clarify a few details. Do you want to improve the GUI of the web version of the game or the android version of it?

[2016-02-12 11:38] harry-7 commented on #21
This issue is about improving the GUI of web version.

[2016-02-12 12:18] niccokunzmann opened #90 "Restructure backgrounds to levels"
Each level has

- backgrounds
- obstacles

In a level.js file:
- [ ] each level should be an own object

Add methods:
- [ ] Level.show()
- [ ] Level.start()
- [ ] Level.stop()
- [ ] Level.hide()
- [ ] Level.getBackgrounds()
- [ ] Level.getObstacles()
- [ ] Level.getName()
- [ ] Level.score() - return the score that should be displayed.

Add functions:
- [ ] getAllLevels()
- [ ] newLevel(name, [bac

[2016-02-12 14:18] niccokunzmann commented on #73
@SilentFlame if it works, it is fine for me. Can you answer @ashutoshsaboo's question on what needs to be done?

[2016-02-12 14:28] niccokunzmann commented on #21
@ashutoshsaboo Welcome, go ahead. @harry-7 created the issue and can also guide you.

[2016-02-12 14:30] ashutoshsaboo commented on #21
Thanks @niccokunzmann @harry-7 . I'll look into this, and try and fix this. Could someone guide me, as to which file contains the code responsible for the GUI of the web version?

Thanks! :)

[2016-02-12 14:54] niccokunzmann commented on #21
We use Inkskape to edit the game. Have a look at the [tasks](https://github.com/fossasia/flappy-svg/tree/master/tasks#tasks). They onclude the hints on how to get started and edit the files.

[2016-02-12 15:04] niccokunzmann opened #91 "Gotham background: force action by user"
**Context:**

There is almost no obstacle at the bottom in the Gotham backgound. This means that the player does not need to do anything to play this background.

**Solution**

Add more obstacles at the bottom of Gothams obstacles.

[2016-02-12 15:11] niccokunzmann opened #92 "Create leader board."
Once we have a score, we can create a leader board.
We need
- a server that hosts the leader board
- post scores and names to the boad
- show the list of people who have scores.

Please discuss how to do this and post your ideas here so we can make a better specification.

[2016-02-12 15:25] vikasTmz commented on #71
Hey,
One way to do this is using the below ABBA collision. I've done one in Opengl (using glm vectors).
A similar one can be implemented using vector.js (a 2D vector maths library).
![collisions_aabb_circle](https://cloud.githubusercontent.com/assets/11690674/13010983/96d81804-d1ca-11e5-868a-d9e77aa10024.png)

[2016-02-12 18:36] harry-7 commented on #21
@ashutoshsaboo  If you have grip on svg then you can directly start looking at the shapes drawn in .svg file

[2016-02-12 19:59] SilentFlame commented on #73
@ashutoshsaboo,
I have resolved this issue.
just coming with the final PR soon.
you can review that and the last PR's to have an understanding of the issue.

[2016-02-12 23:57] SilentFlame commented on #92
@niccokunzmann
are we developing this as a game which can be played both online and offline?
or the thing is about just the score upload by the players?

[2016-02-13 00:18] SilentFlame commented on #73
If satisfied with the PR, you can close this issue now. @niccokunzmann

[2016-02-13 08:42] niccokunzmann commented on #92
It can be played online and offline. We can create a local leaderboard for the app or also a global leaderboard.

[2016-02-13 08:43] niccokunzmann commented on #73
Ok. So after the back-button is merged, we can close it.

[2016-02-13 10:20] SilentFlame commented on #92
That sounds cool.
How can I help you in this?

[2016-02-13 13:45] jinankjain opened #94 "Error: In Gotham Background collision not detected"
![screenshot from 2016-02-13 19 14 00](https://cloud.githubusercontent.com/assets/3854904/13027935/059885d8-d286-11e5-8917-d364ea27018d.png)

getBox function on Gotham_obstacles is not working

[2016-02-14 05:37] vikasTmz opened #96 "Suggestion: Using Webgl libraries for better physics?"
We could use Webgl libraries like Cannon.js , Ammo.js or Three.js to make this Game. This will obviously require us to rewrite the existing gameplay code but this will make the game smoother and efficient.
We can create basic geometries and wrap them up with svgs. Cannon.js will handle the collisions.
(http://schteppe.github.io/cannon.js/) , (http://threejs.org/)

Dat.Gui can also be implemented t

[2016-02-15 22:28] SilentFlame commented on #80
@niccokunzmann , @jig08  reading through the materials provided now I got a bit idea as how it all works.
will need both of your's guidance as well as help in resolving this issue.
we can proceed to add the travis.ci file to teh repo.

Have some doubts.

- first we need to create tests fir the app.

- listing th dependensies

- installing modules in the repo (I didn't get what that mean).

[2016-02-15 22:30] SilentFlame commented on #90
I can give a try.

[2016-02-16 07:57] mukesh14149 commented on #94
#70

[2016-02-16 08:47] niccokunzmann commented on #73
Thanks @SilentFlame. Closing it!

[2016-02-16 08:47] #73 closed

[2016-02-16 08:49] niccokunzmann commented on #94
I think https://github.com/fossasia/flappy-svg/pull/95/files#diff-f77c6ddae0e61dc2aeb9ac998901e3beR53
fixes this. It was merged some minutes ago. If you like, you can check again.

[2016-02-16 08:52] niccokunzmann commented on #92
We need to specify how this would work and collect ideas.

[2016-02-16 08:56] jinankjain commented on #94
I don't think that will fix too. I have tried that too.
ᐧ

On Tue, Feb 16, 2016 at 2:19 PM, Nicco Kunzmann <notifications@github.com>
wrote:

[2016-02-16 09:00] niccokunzmann opened #97 "Make circles in links.html to links"
**Context**
The circles in links.html behave as if they should be clickable. When I go over them with the mouse or click them, they change color.

**Problem**
Currently, only the text inside the circles has a behavior although it is suggested that the circles have the same.

**Solution**
Make the circles clickable and do the same that the text inside does now.

[2016-02-16 09:04] niccokunzmann commented on #77
Thanks for contributing! I am closing this issue now.

[2016-02-16 09:04] #77 closed

[2016-02-16 10:18] jinankjain commented on #97
Just above <a> tag above div would solve that problem I guess @niccokunzmann

[2016-02-16 10:22] jinankjain commented on #94
@niccokunzmann yes that error got away but still collision detection don't work

[2016-02-16 10:36] niccokunzmann commented on #97
@jinankjain Some JavaScript functions in links.html will need to be changed, too.

[2016-02-16 10:39] niccokunzmann commented on #94
#70 should be the place for discussion why Gotham has no obstacle hits points. Closing this, feel free to comment. It can be reopened.

[2016-02-16 10:41] #94 closed

[2016-02-16 10:44] niccokunzmann commented on #96
What would be the steps to implement this?

[2016-02-16 11:09] niccokunzmann commented on #80
Can you edit and add the links to the pages where you got these questions?

Guessing:
- we can create tests later. After the .travis.yml
- I am not sure which dependencies you mean.
- If we use JavaScript to write the tests, we will do it with [nodeJS](https://nodejs.org/en/). Then we need to install packages like a test suite and "phantomjs", a web-browser to run the game in that has no graphical

[2016-02-16 11:13] niccokunzmann commented on #90
Sure, you are welcome. You do not have to do everything and we can split it up into several pull-requests.

[2016-02-16 12:39] niccokunzmann commented on #45
In Pull-Request #89 There was a score board added which can be used.
TODO:

- [ ] create a distance variable
- [ ] increase the variable when flappy moves
- [ ] give the score element an id
- [ ] update the score screen when flappy moves

Much of it was done in #55.

[2016-02-16 23:39] SilentFlame commented on #97
@niccokunzmann  please have a look to the PR.
I have added images to both the ```Play Store``` and ```APK``` links. hope it's ok to use here.

[2016-02-17 05:57] vikasTmz commented on #96
Well if we're going to use Cannon.js (a purely physics library) , we can assume each of our characters and obstacles as some form of 2-D textured object. We can assign anisotropy properties to them using cannon.js where we can render each of their pixels (*i.e map out every curve,edge corner individually*) , instead of treating our characters bounded within a rectangle/square/circle. The collision

[2016-02-17 06:14] vikasTmz opened #99 "Casting Shadow and improving Dusk to Dawn change with Three.js"
This is a continuation from my previous issue to why we could switch to Webgl.
Three.js has a property to create a Spotlight with a particular intensity, angle and location and we can then enable shadow property on required objects.

Since we have a sun in the game and a shift from day to night , the shadow casting and lighting effects can be easily manipulated with three.js.

[2016-02-17 08:16] niccokunzmann commented on #97
@SilentFlame I commented.

[2016-02-17 08:33] niccokunzmann commented on #96
I feel like you like WebGL and because of this you would like to apply it.

My priorities are:
- The [tasks](https://github.com/fossasia/flappy-svg/tree/master/tasks) should be easy like adding a file or a layer.
- The code should be simple and understandable.
- [some more](https://github.com/fossasia/flappy-svg/blob/master/Contributing.md) that may not apply here.

Given these, you can
- create a

[2016-02-17 08:48] niccokunzmann commented on #99
Can you add more hints and links on how to do this?

[2016-02-17 11:08] vikasTmz commented on #99
I'll create a separate html , js and the required headers where I will try to include the lighting effect,collision and image rendering and make a pull request.

[2016-02-17 16:59] sid-10 commented on #64
@niccokunzmann I would like to work on this issue. Could you please guide me as to what aspects need to be looked at. Regards.

[2016-02-17 17:05] niccokunzmann commented on #64
It should be easy to get started developing this game. If you have ideas on how to make it more beginner friendly, we can discuss them.
I created a tasks section https://github.com/fossasia/flappy-svg/tree/master/tasks
This issue is about that, currently.
But I am sure that reaching this section is hard for beginners. If you have ideas on how to guide them e.g. put a link into the credits.html fil

[2016-02-18 00:47] SilentFlame commented on #62
Is this solved??
@niksj
@niccokunzmann

or can I give It a try.

[2016-02-18 08:07] niccokunzmann commented on #62
@niksj did not say anything until now. I forgot to say that asking for help is possible. There is no fork of niksj's. Maybe you can wait a bit for an answer and then decide.

[2016-02-18 09:49] niccokunzmann commented on #92
#100 creates a file for the leader board.

[2016-02-18 10:00] niccokunzmann commented on #69
Thanks @mukesh14149 ! I am closing the issue.

[2016-02-18 10:00] #69 closed

[2016-02-18 14:49] harry-7 commented on #90
i am interested in working on this. I have a doubt . In order to add this we need to change some part of code in otherfiles as well right. like loading backgrounds and stuff

[2016-02-18 18:42] niccokunzmann commented on #90
Yes. It is a refactoring that touches a lot. We will gain in the long run. You can start it by creating the object with the interface mentioned above. The methods can be filled step by step and it does not need to be you who does everything.

[2016-02-20 18:00] AMaini503 commented on #97
@niccokunzmann  Is this bug still open to work upon ? I would like to work on it.

[2016-02-20 18:17] niccokunzmann commented on #97
@AMaini503 You could base your work on #98 The idea is to use images and give proper credit.

[2016-02-21 20:02] SilentFlame commented on #97
sorry for my late response, got engaged in my college fest. I'm almost done here just about to submit the final commit, and do some cleaning work.
@AMaini503
but, still you can have a look and suggest some further issues if you notice one. Suggestions always welcomed with regards.

[2016-02-22 13:57] SilentFlame commented on #97
@niccokunzmann  I think now this issue should be closed.

[2016-02-22 14:34] #97 closed

[2016-02-23 14:57] SilentFlame commented on #62
@niccokunzmann
which one of the following should I finalize for the credits.html page?
As the bug is resolved here in both just needs your suggestion on the look part.

I personally like the 1st one.
![one](https://cloud.githubusercontent.com/assets/9693795/13255356/d69e4f72-da6b-11e5-818b-9cae4931d9a8.png)
![two](https://cloud.githubusercontent.com/assets/9693795/13255366/dd73820e-da6b-11e5-90e8-

[2016-02-23 18:47] niccokunzmann commented on #62
@SilentFlame we can use the first one. Then I would like to see the bullet points removed. They do not fit in a centered view.

Should "These people have ... :" be a heading? You decide.

[2016-02-23 19:25] SilentFlame commented on #62
@niccokunzmann
Writing the same thing again doesn't make sense. So removing "These people have ......".
Review the final PR.

[2016-02-24 20:45] SilentFlame commented on #62
@niccokunzmann
Above is the final PR related to this issue.
Please have look and if satisfied, then can close the issue.

[2016-02-24 21:04] niccokunzmann commented on #62
Thanks @SilentFlame !

[2016-02-24 21:04] #62 closed

[2016-02-25 04:33] niksj commented on #62
I'm sorry, I had an accident so could not have a look here.
I'm really sorry for the inconvenience caused due to me @niccokunzmann  & @SilentFlame .

[2016-02-25 07:19] niccokunzmann commented on #62
@niksj No problem :)

[2016-02-25 08:02] SilentFlame commented on #62
@niksj  nothing to worry :)

[2016-02-25 13:45] niccokunzmann opened #107 "Responsive Main Menu"
**Problem**
Currently, the Main Menu has some fixed positions for elements. The buttons are not visible if the width of the page is thin.

**Solution**
Move the buttons with the size of the page so that they stay visible. e.g. center them.

**Hints**
In #104 you see who created the menu and you can ask for help here.

Comment if you would like to work on this issue.

[2016-02-25 13:53] niccokunzmann opened #108 "Split flappy.svg into multiple files"
**Problem**
Currently, all layers are in flappy.svg.
This causes the following problems:
- Merge conflict when two people edit the flappy.svg at a time
- Not obvious what was changed, hard review
- A huge file, maybe too big to edit for tome people
- Always you edit all layers when saving -> Could be problematic if we add animations or custom SVG code

**Solution**
Split the flappy.svg file into s

[2016-02-25 15:30] kamishettysreeja25 opened #109 "Add Instructions to play the game"
Currently we have developed the main menu .
We need to add the controls for the game , the scoring schema etc
Design the howtoplay.html file in a user friendly way.

[2016-02-25 15:55] kamishettysreeja25 commented on #107
@niccokunzmann
Should the size of the buttons also change with the size of the window ?

[2016-02-25 16:36] niccokunzmann commented on #107
@kamishettysreeja25 There can be solutions that resize the buttons and there can be solutions which do not resize the buttons. I do not decide that.

[2016-02-25 17:48] kamishettysreeja25 commented on #107
@niccokunzmann
I have worked on this and resized both the size of the button and moved the buttons with the size of the window
the output looks something like this when  we decrease the size of the window is this fine ?
![screenshot from 2016-02-25 23 14 45](https://cloud.githubusercontent.com/assets/14835922/13328645/c5d656ac-dc15-11e5-88c2-b3a92da63912.png)

[2016-02-26 12:29] kamishettysreeja25 commented on #109
@niccokunzmann
I have created the basic layout of the game instructions if there should be any changes please suggest me :)
![screenshot from 2016-02-26 17 53 15](https://cloud.githubusercontent.com/assets/14835922/13352241/f631a8f0-dcb1-11e5-8aff-729c83d4dfb3.png)

[2016-02-26 19:23] SilentFlame commented on #3
@niccokunzmann  but looking at the above code you mentioned, it seems every action have its interval set to null, I'm not getting what exactly is it dong here.
and which one should be the action which should contain the interval to start all the actions?

[2016-02-28 22:54] niccokunzmann commented on #107
@kamishettysreeja25 Do you have source code? I would test re-sizing the window. I do not know how it responds from the picture.

[2016-02-28 23:11] niccokunzmann commented on #109
@kamishettysreeja25 Can you show some code? would like to test it out. You can do a pull-request and we talk there :)

[2016-02-29 09:02] niccokunzmann commented on #3
There will be one timeout for all actions. You can put it in a global variable, if you like.

[2016-02-29 17:19] daminisatya opened #112 "Score updation required"
Instead of placing a static score label, tentatively the score can be calculated based on the number of obstacles being crossed . The complexity of the score can be increased based on various parameters like speed, distance etc.

[2016-03-01 07:21] niccokunzmann commented on #112
Good idea! If someone wants to do that, welcome.

[2016-03-05 21:09] #109 closed

[2016-03-31 18:59] vikasTmz commented on #99
Hey, Sorry for the delay but I noticed the features implemented in this game can be significantly improved with webgl libraries. Here's a game I made using three.js in 4 days that will show how simple and intuitive making 3-D / 2-D games can be. [http://web.iiit.ac.in/~vikas.thamizharasan/vikasgamecarom.html ](url)

[2016-07-26 11:00] harry-7 commented on #112
I want to work on this. I would be glad if someone can guide me as to where and how to start :)

[2016-07-26 12:28] niccokunzmann commented on #112
@harry-7 My thoughts: the [Flappy](https://github.com/fossasia/flappy-svg/blob/gh-pages/javascript/flapping.js#L11) updates the score whenever something happens.

Also, there is the score label at the top. Somehow, you can change the content of it. The functionality of the score does not belong in the Flappy class. Maybe it has its own file.

My answer is pretty vague. If you have more questions,

[2016-07-26 12:49] harry-7 commented on #112
@niccokunzmann Yeah I saw the score label and how to change it. My doubt was how do I keep track of obstacles crossed?

[2016-07-26 12:56] niccokunzmann commented on #112
There is collision detection implemented.
https://github.com/fossasia/flappy-svg/blob/gh-pages/javascript/flapping.js#L50
It knows, when an obstacle is hit. Thus, it should be possible to modify
it so you know, when an obstacle is passed.
Do you know what this does
https://github.com/fossasia/flappy-svg/blob/gh-pages/javascript/flapping.js#L60
?
----------------------------------------------------

[2016-07-26 13:21] harry-7 commented on #112
https://github.com/fossasia/flappy-svg/blob/gh-pages/javascript/flapping.js#L60
I think instead of creating new obstacles you are just shifting them forward.Am I  right ?
Ok I ll look into the collision part once

[2016-07-28 10:32] harry-7 commented on #91
I would like to work on this.Any ideas on how obstacles should look like :P ?

[2016-07-28 10:52] niccokunzmann commented on #91
You are totally free to choose your own.

Additional remarks:

- There are obstacles - the bats. They do not work as obstacles because they are clones.
- It can fit in the setting Batman/Gotham.

Ideas:

- create a batman car
- create one of batmans enemies as rotoscope, see the [get started](https://github.com/fossasia/flappy-svg/blob/master/tasks/add_character/English.md)

[2016-07-28 11:09] harry-7 commented on #91
Can I use the existing bats and make them as obstacles?

Did you mean creating a batman car as an obstacle?

[2016-07-28 11:48] niccokunzmann commented on #91
Yes and yes.

[2016-07-28 13:39] harry-7 commented on #91
@niccokunzmann  I attatched the svg where I removed all the clones and created obstacles using the given batman. check if it is ok.
[flappy.svg.zip](https://github.com/fossasia/flappy-svg/files/388455/flappy.svg.zip)

[2016-07-29 18:50] niccokunzmann commented on #112
@daminisatya @harry-7 would you close this issue? Else, what else would you wish to see implemented?

[2016-07-29 19:41] harry-7 commented on #91
@niccokunzmann  Shall I proceed to create a Pull request for this change ?

[2016-07-29 19:45] harry-7 commented on #112
I guess we can close the issue as the score update is being done. @daminisatya  are there any more specifications ?

[2016-07-29 19:58] harry-7 commented on #71
I would like to work on this Issue.

[2016-07-30 06:04] niccokunzmann commented on #91
@harry-7 yes, with a pull-request, I would be able to check this one out, and see the changes you made.  I am able to link and discuss sections.
You could also send a patch via E-Mail.

[2016-07-30 06:20] niccokunzmann commented on #71
#114 implements the collision detection by @vikasTmz.

[2016-07-30 06:27] niccokunzmann commented on #71
I would propose further changes for fine-grained collision detection:

**Context**
Obstacles can be a group `<g>`. This is the same as  a group in Inkscape.

**Proposals**
- We can check every element in this group for this kind of collision detection, maybe go deep to a certain level.
- If we do this kind of collision detection, we would also need to document it for people who create obstacles in

[2016-07-30 06:40] harry-7 commented on #71
@niccokunzmann sounds like a great idea. But that needs that we need to change the existing obstacles. Also in inkscape we cant group a single item right. Wont that be a problem?

[2016-07-30 06:51] niccokunzmann commented on #71
@harry-7 I integrated your concerns into a new problems section. Do you agree?

[2016-07-30 07:03] harry-7 commented on #71
@niccokunzmann Sorry But what does that mean ? Are you saying you ll create a new issue?

[2016-07-30 07:05] harry-7 commented on #71
@niccokunzmann Yes .
Also it will be better if we rely on attributes like class/id when obtaining obstacles rather depending on grouping what say ?

[2016-07-30 08:40] niccokunzmann commented on #71
@harry-7 What would this look line on dom level?

currently, we have, I believe

    <g inkscape:groupmde="layer">
        <g>
        </g>
        <rect>
    ...

[2016-07-30 12:52] harry-7 commented on #71
@niccokunzmann In the level we have the groups with the group will also come as obstacle so we do unnecessary checks. How ever if we do some thing like this it will be good

`<g inkscape:groupmde="layer">
``<g class='obstacle'>  </g>
``<rect class='obstacle'>
...
`

[2016-07-30 13:58] harry-7 commented on #90
@niccokunzmann  Doing this issue will make show_layer and hide_layer obsolete right? Should we remove them or call those functions in these methods instead. I prefer removing them. What say ?

[2016-07-30 13:59] harry-7 commented on #90
@niccokunzmann These levels corresponds to game levels right ?

[2016-07-30 14:41] niccokunzmann commented on #71
What is the goal you want to achieve? You wrote "better" or "good". How would you measure it.

More context: obstacles are grouped in layers. Once a layer is used as an obstacle, child of it becomes an obstacle.

In case your goal is to make collision detection finer than ABBA with the whole group, this would be to me that we look into the group. I do not understand how adding a obstacle class imp

[2016-07-30 14:44] niccokunzmann commented on #90
In the beginning, we can choose levels: Gotham or desert. Show and hide allow to show these levels. start() and stop() are used for playing them.

[2016-07-30 15:28] harry-7 commented on #71
@niccokunzmann By good I mean it will reduce unnecessary collision checks we make.

I ll add class to the most fundamental part of the obstacle. the child which no more has any groups in it.
I wanted to add class because I am not sure whether we can access the child elements when we get the obstacles by the tag name `<g>` . Also if we add a class we can get all those things at once without going r

[2016-07-30 18:03] harry-7 commented on #91
@niccokunzmann May be we can close this issue. Do you have any more things on this ?

[2016-07-30 20:42] niccokunzmann commented on #91
Let us wait three days. If we close it now, we may not have given a
change to communicate.

Am 30.07.2016 um 20:03 schrieb Hemanth Kumar Veeranki:

[2016-07-31 12:41] harry-7 commented on #107
@niccokunzmann Check the pull request and comment on status. I changed appearance a bit. Is that fine ?

[2016-07-31 12:58] niccokunzmann commented on #107
@harry-7 this is what I had in mind.

[2016-07-31 12:58] #107 closed

[2016-07-31 13:15] harry-7 commented on #46
@niccokunzmann  Is there anything left in this Issue. May be we can close it? I believe its fixed in #89.

[2016-07-31 13:34] niccokunzmann commented on #71
If we add a class, this must also be easy to do in Inkscape.

We access child elements if zou look here
<https://github.com/fossasia/flappy-svg/blob/gh-pages/javascript/layers.js#L7>.

Am 30.07.2016 um 17:28 schrieb Hemanth Kumar Veeranki:

[2016-07-31 17:32] niccokunzmann commented on #46
@harry-7 looks like it to me, too.

[2016-07-31 17:32] #46 closed

[2016-08-01 08:25] niccokunzmann commented on #90
Now that I read your code, I know more what I am aiming to.

Currently, the data (not functionality) for a level is spread across these files:

- https://github.com/fossasia/flappy-svg/blob/gh-pages/javascript/start_screen.js#L13
- https://github.com/fossasia/flappy-svg/blob/gh-pages/javascript/start.js#L10
- https://github.com/fossasia/flappy-svg/blob/gh-pages/javascript/background.js#L100
- http

[2016-08-01 08:27] niccokunzmann commented on #90
In future, if it is possible to add a new background to the svg file and then edit this specification ad that is all, this is a huge relief and gives us a lot of freedom in the functionality.
It would also make it easier to split up the svg file into several smaller svg files without touching this specification.

[2016-08-01 13:13] harry-7 commented on #90
@niccokunzmann I made a change to the level specification thing to make it look some what clear. Please Have a look and comment on the status.

[2016-08-04 08:19] niccokunzmann commented on #90
@harry-7 I commented. I hope my absence does not discourage you. I was working on this: https://www.youtube.com/watch?v=38JN2JdNnMY&feature=youtu.be

[2016-08-04 08:34] niccokunzmann commented on #71
@harry-7 Could you help me analyze the situation, so we can make sure we talk about the same? I also loose track when the conversation gets longer.

I would split up the problem like this:

1. How do I find out if an SVG element is an obstacle?
2. How do I find all obstacles that flappy could collide with?
3. If I have an obstacle, how can I detect collision?
4. If I have an obstacle, how can I re

[2016-08-04 10:43] harry-7 commented on #71
@niccokunzmann I think those will be enough. We currently have the idea of the third topic. My suggestion of adding a class to all obstacles will help in 1 and 2.Coming to issue 4 we can proceed to implement collision to detect each obstacle object instead of whole group as you mentioned here

 This would e.g. test each arm of a cactus instead of the whole cactus itself.

[2016-08-04 13:08] harry-7 commented on #91
@niccokunzmann we can close this now :)

[2016-08-04 13:29] #91 closed

[2016-08-04 16:10] harry-7 commented on #90
@niccokunzmann Yeah never mind. The video was cool :). Even though I did not understand it completely. It was cool.

[2016-08-05 07:44] niccokunzmann commented on #71
**(3)** Given that we know the boundary of the obstacle, the term for this collision detection is "polygon intersection". We do not need an algorithm that computes the polygon intersection, we just need one that tells us if there is a polygon intersection.

[2016-08-05 07:58] harry-7 commented on #71
@niccokunzmann We already have implemented the collision for rect's right. I don't get the idea why we need a polygon collision.

[2016-08-05 16:11] harry-7 commented on #90
@niccokunzmann In the above checklist I think we need to couple of changes.

This is not needed anymore .

And except level.start() and level.stop() all the remaining are implemented may be you can check them. What do you say ?

[2016-08-05 16:21] niccokunzmann commented on #90
I will check them as soon as they are used in the program and replaced the old functionality. This is, as soon as the functionality is not in [these files](https://github.com/fossasia/flappy-svg/issues/90#issuecomment-236518856) any more.

[2016-08-05 17:09] harry-7 commented on #70
@niccokunzmann  We can close this issue.

[2016-08-05 17:15] niccokunzmann commented on #70
Yes, #115 closes this.

[2016-08-05 17:15] #70 closed

[2016-10-10 02:52] hemanthsavasere commented on #78
Hi mukesh,
Can i also join with you guys as I am interested or it is already assigned to niccokunzmann.

[2016-10-10 07:26] niccokunzmann commented on #78
Hi @hemanthsavasere It is not assigned to anyone. We were discussing how to write it down. You can join.

[2016-10-10 08:17] hemanthsavasere commented on #78
Thanks nicco kunzmann

On 10-Oct-2016 12:56 pm, "Nicco Kunzmann" <notifications@github.com> wrote:

to write it down. You can join.

[2016-10-20 14:02] hemanthsavasere commented on #22
Can I also animate and add new characters.

[2016-10-20 14:06] niccokunzmann commented on #22
Sure, please go ahead. I will have a look at everything you propose and try to help you.

[2016-12-01 08:59] niccokunzmann commented on #112
Okay, closing it!

[2016-12-01 08:59] #112 closed

[2016-12-01 09:10] niccokunzmann opened #118 "Translate the Google Code-In tasks"
The [tasks](https://github.com/fossasia/flappy-svg/tree/master/tasks) are in English and German.
Feel free to provide a translation as pull-request.
You can not get Google Code-In credit for this.

[2016-12-04 06:41] hemanthsavasere commented on #78
Hi Niccokunzman,
I am an learnt intermediate level of Bootstrap and responsive web design. I wish to work on the website, I have also created the website with above buttons as specified by Mukesh. I need help proceeding further, I am  also aware that pull requests should be made only when you approve it.Need help ?

[2016-12-04 06:44] hemanthsavasere commented on #78
Hi niccokunzman
I have learnt some amount of bootstrap and responsive webdesign.I also have coded the the above buttons mentioned by Mukesh.I need help proceeding further.
Thanks,

[2016-12-04 09:03] niccokunzmann commented on #78
Hello @hemanthsavasere Where can I find your code? What would you like to do and what did you do?

[2016-12-06 15:13] hemanthsavasere commented on #78
Hi niccokunzman,
I have the code in https://github.com/hemanthsavasere/flappysvg,I have coded the basic header file for the website of flappy svg.

[2016-12-06 18:57] niccokunzmann opened #122 "Show black border again"
#121 removed the border. Add it again, so other people cannot have a different view depending on the screen size.

[2016-12-06 18:59] niccokunzmann opened #123 "Add rocket to players"
#121 added a rocket but it is always visible.
Add the rocket ad a usual player.
Have a look at how the helicopter was added: https://github.com/fossasia/flappy-svg/pull/54/files

[2016-12-06 19:02] niccokunzmann opened #125 "Add space background to backgrounds"
#121 The new space background was added.
This background should be usable as a usual background, like chosen with the dots on the left.

[2016-12-06 19:13] niccokunzmann opened #126 "Use nice pictures for background choosing"
The background choice is just circles - we could use some nice images that represent them there.
Maybe also, that they can be distincted from the background.

[2016-12-07 20:00] Antrismus commented on #125
Done!

[2016-12-07 21:56] #123 closed

[2016-12-07 21:57] niccokunzmann commented on #125
@Antrismus Thanks :)

[2016-12-07 21:57] #125 closed

[2016-12-07 21:58] niccokunzmann opened #130 "Choose Rocket by click"
@Antrismus created a rocket. Other figures can be reached by click. Make the rocket choosable by click as any other figure can be chosen, too.

[2016-12-07 21:59] niccokunzmann opened #131 "Choose Space Background by Click"
The space background by @Antrismus  is chosen only randomly. Add a button like for the other backgrounds, to choose this one.

[2016-12-08 08:28] niccokunzmann opened #134 "Window App: update to latest version"
The [content folder](https://github.com/fossasia/flappy-svg/tree/master/FlappySVG_Windows/data/content) is the same as the gh-plages branch.

Problem: How can it be updated?
Possible solutions:

- ok: add the flappy-svg gh-pages branch as submodule
- best: download the gh-pages-branch automatically, i.e. as zip serve from it.

[2016-12-08 08:31] niccokunzmann opened #135 "Windows App: Create Download"
Problem: I want to play Flappy-SVG on Windows (#132) and I  do not know, what to download.

Possible Sulution:
- [X] Either create a flappy-SVG-installer or a zip-file to download that runs on Windows.
- [x] Create a link to this downloadable thing in the README.md file in the master branch.

[2016-12-08 08:46] niccokunzmann opened #137 "Add download link for Windows App to links.html"
The [links.html](http://fossasia.github.io/flappy-svg/links.html) file is used as a starting point, to get the game. The Windows app should be there with a nice self-made Windows icon.

[2016-12-08 09:29] adarsh-ideal commented on #134
There is an icon folder inside content folder also, which is not in gh-pages branch.
It contains icons of different dimensions for the app.

[2016-12-08 13:10] adarsh-ideal commented on #137
@niccokunzmann I am doing that and will inform you after adding the link.

[2016-12-08 15:27] niccokunzmann commented on #137
Sure!

[2016-12-08 15:49] hemanthsavasere commented on #78
Hi niccokunzman,
I am not getting any reply.

[2016-12-08 17:03] jig08 commented on #78
@hemanthsavasere Wait, you'll get a reply from @niccokunzmann  soon :)

[2016-12-08 20:41] niccokunzmann commented on #78
@hemanthsavasere Hi, I got too many messages the last days so i looked only for @niccokunzmann in them. If you use that, you have more change of reaching me. Thanks @jig08!

I looked at your website and it looks good.
Would you like to create a pull-request, so it is in the gh-pages branch? Then we can all think together and create issues for the site.
Also, please mae sure you do not load any con

[2016-12-08 20:53] niccokunzmann commented on #78
@hemanthsavasere Everything is fine, I just could not check back. What are your thoughts, how would you like to proceed?

[2016-12-09 04:44] hemanthsavasere commented on #78
Hi niccokunzman,
Thank you very much for your support.I will create a pull request and try to replace the font with different one.
Thanks,

[2016-12-09 15:27] adarsh-ideal commented on #137
Added Download link.
PR: https://github.com/fossasia/flappy-svg/pull/145
gh-pages: https://adarsh-ideal.github.io/flappy-svg/

[2016-12-09 19:39] niccokunzmann commented on #137
Thanks!

[2016-12-09 19:39] #137 closed

[2016-12-10 04:44] adarsh-ideal commented on #135
@niccokunzmann I think you already added the link in README.md. I can see that.
Thanks!

[2016-12-10 08:00] #135 closed

[2016-12-10 08:57] niccokunzmann commented on #134
@adarsh-ideal Can you create a new issue for the icon?

[2016-12-10 13:36] niccokunzmann opened #147 "Custom App: Add gh-pages branch instead of copies"
The custom app uses a copy of the game in the master branch.
To keep this up-to-date over the time, we should use the gh-pages branch.
Possible solutions:

- use a git-submodule & document
- clone the gh-pages branch into  the folder.

#146

[2016-12-10 13:38] niccokunzmann opened #148 "Add download of app file for custom app"
The custom app is in the master branch. It would be nice to be able to download it.
Locations:

- [ ] README.md in the master branch
- [ ] links.html in gh-pages branch

[2016-12-10 14:46] adarsh-ideal commented on #134
Yes. Surely I'll do it.

[2016-12-10 15:28] rhemon opened #151 "Mac App: Improvement Idea"
Presently its only .app file that can be executed in mac.
There is still lot that can be done, more like should be done.
1. Making it into .pkg so that it runs like an installer
2. You will notice when  you run .app file it opens another window showing the log, so if possible it can be removed.

I used something called Platypus to make .app for Mac. If you find a better alternative that would will

[2016-12-10 16:56] yvars opened #153 "FlappySVG_Custom: Help me to automate build"
@niccokunzmann suggest me that I should automate the build of my app. But I don't know much about automatic builds. It would be great if all mentors here helped me to do that!

[2016-12-10 17:10] niccokunzmann commented on #153
We would need to use the gradle command line, then, to build the app. If we are able to build the app just by using the command line, we are able to build the app automatically.

[2016-12-10 17:12] Baidya99 opened #156 "Some of the character dont have onclick attributes."

[2016-12-10 17:16] niccokunzmann commented on #156
The title is an observation. If you like, you can also add something in the form:
[Observation] This leads to [Problem]. If you wan to solve it you can [Hints]

[2016-12-10 17:18] niccokunzmann commented on #153
[This](https://docs.gradle.org/current/userguide/tutorial_gradle_command_line.html) suggests that one only needs to run `gradle dist` and the app gets compiled.

[2016-12-10 17:20] Baidya99 commented on #156
Can I resolve this myself?

[2016-12-10 17:21] niccokunzmann commented on #156
Yes.

[2016-12-10 17:22] yvars commented on #153
Thanks for the link! Downloading gradle and will try it after that (could not find it in android SDK dir)

[2016-12-10 17:27] #156 closed

[2016-12-10 17:29] niccokunzmann opened #158 "Hide Space-Ship on click"
I just played the game, clicked through all the characters and the space ship did not disappear.

Solution: When I click the space ship, it should disappear and only one character should be seen.

[2016-12-10 17:31] niccokunzmann commented on #156
#158 is a follow-up issue which should be easy for you. If you like, you can do it.

[2016-12-10 17:42] Baidya99 commented on #158
Okay I want to do this.

[2016-12-10 17:43] niccokunzmann commented on #158
Please, go ahead, have fun :)

[2016-12-10 17:45] niccokunzmann commented on #130
Closed by #156 Thanks @Baidya99.

[2016-12-10 17:45] #130 closed

[2016-12-10 18:47] #158 closed

[2016-12-10 18:48] niccokunzmann commented on #158
@Baidya99 Is there any task which I should accept?

[2016-12-10 19:08] Baidya99 commented on #158
None.

[2016-12-11 05:17] hemanthsavasere opened #161 "No update of scores is happening in the Snow background and also no collision with objects"
There is neither any scores getting updated nor any collisions happening so that the level can end and get restarted.

[2016-12-11 12:14] Cepe6 commented on #108
I would like to solve this issue.
My plan consist of the following points:

1. Create folders to contain the specific layers:
      - **characters/** will contain the layers of all the characters in the game
      - **environment/** will contain the layers of all the backgrounds of the game
             - **environment/obstacles/** will contain the layers of all the obstacles in the game
      - *

[2016-12-11 12:18] niccokunzmann commented on #108
Sounds good to me. Please go ahead.

[2016-12-11 12:19] Cepe6 commented on #108
I forgot to mention that I will place all those folders in one folder **layers/** if that is ok

[2016-12-11 12:19] niccokunzmann commented on #108
If you do not modify flappy.svg but add flappy2.svg, and index2.svg, we can have several merges and people helping you on the gh-pages branch.

[2016-12-11 12:19] niccokunzmann commented on #108
Sure.

[2016-12-11 12:19] Cepe6 commented on #108
OK I will not modify it then :)

[2016-12-11 13:08] Baidya99 commented on #126
I think it is complete.

[2016-12-11 13:10] Baidya99 commented on #161
I would like to fix it.

[2016-12-11 15:07] niccokunzmann commented on #126
#166

[2016-12-11 15:07] #126 closed

[2016-12-11 15:07] niccokunzmann commented on #161
Sure, you can do it.

[2016-12-12 01:34] #161 closed

[2016-12-12 07:01] niccokunzmann opened #172 "Connect new characters via click"
I saw new characters like two unicorns and a robot #171.
Which new characters are there? They should be reachable somehow via click.

[2016-12-12 11:41] Baidya99 commented on #131
I would like to do this.

[2016-12-12 11:49] niccokunzmann commented on #131
Sure, please go ahaed.

[2016-12-12 18:26] niccokunzmann commented on #131
@Baidya99 Thanks for your commit!

[2016-12-12 18:27] niccokunzmann commented on #131
I checked all the pictues and two of them did not change the background. Is this intended? I do not know how many backgrounds are there...

[2016-12-13 05:03] hemanthsavasere commented on #172
I will work on this @niccokunzmann

[2016-12-13 06:21] rhemon commented on #151
@niccokunzmann  I am going to now try adding dmg file for the mac version

[2016-12-13 09:13] niccokunzmann commented on #172
Sure. Have fun :)

[2016-12-13 09:54] niccokunzmann opened #176 "Source of opensource.jpg"
@hemanthsavasere What is the source of opensource.jpg ? Which license is it under?
If we are allowed to use it, please create a license file for it.

[2016-12-13 10:01] niccokunzmann opened #177 "Two background choose-buttons are not working"
Two buttons that choose the background are not choosing another background.

[2016-12-13 10:49] hemanthsavasere commented on #176
It is from website that has royalty free stock photos, https://www.123rf.com

[2016-12-13 12:19] hemanthsavasere commented on #176
I think I need to change it. Royalty free but license is not given

[2016-12-13 12:40] rhemon opened #180 "Let user choose background"
It would be nice if all the backgrounds available were listed and shown to the user, from which they can choose. I have seen some are already shown like that, so right now it should be simply adding the rest to that list.

[2016-12-13 12:42] rhemon opened #181 "Sometimes obstacle and character don't show up"
Sometimes either character or obstacle wont show up. This bug needs to be fixed.

[2016-12-13 12:45] #151 closed

[2016-12-13 13:12] Marauderer97 commented on #177
Hello @niccokunzmann ,
I would like to work on this issue
Could this be assigned to me?

[2016-12-13 13:17] hemanthsavasere opened #183 "No collision takes place in island background"
collision not happening in island background, to end the game  and get the score.

[2016-12-13 13:33] hemanthsavasere commented on #177
Thanks,

[2016-12-13 13:47] Marauderer97 commented on #177
@niccokunzmann  I am new to this project and am still trying to figure out the exact working. From what I figured, the function to show the backgrounds(island/binary) are not getting called at all when the image is being clicked. Can you tell me how to proceed?

[2016-12-13 17:53] Marauderer97 opened #185 "Instructions page has issues"
The howtoplay.html is currently being displayed like this,
![image](https://cloud.githubusercontent.com/assets/20185076/21152111/0da7929c-c18b-11e6-989d-b94e04fefd13.png)
 There seems to be a problem with the embedded image.

[2016-12-13 19:51] niccokunzmann commented on #177
I do not know. I did not program it. But I guess, looking at the existing backgrounds, you can figure out what is similar and what is different. onclick could be an attribute to look for.

[2016-12-13 19:53] niccokunzmann commented on #177
Thanks, I see, you fixed it!

[2016-12-13 19:53] #177 closed

[2016-12-15 04:49] Marauderer97 commented on #183
@hemanthsavasere  I was playing the game and noticed the same issue, but funnily enough I cannot find any file called thunder.svg in the obstacles folder, or in the layers folder. Do you have any ideas on how to fix this?

[2016-12-15 06:54] niccokunzmann opened #187 "No Layer named "ball""
![capture](https://cloud.githubusercontent.com/assets/564768/21214521/6e8c3d7c-c29b-11e6-9422-76b1c26687c5.PNG)
When playing the game, sometimes no character is displayed and I get this message.

I would like to see a character there.

There could be a character ball but maybe there is not.

[2016-12-15 07:21] Marauderer97 commented on #187
@niccokunzmann I would like to work on this. However I cannot find any svg file named ball, a similar thing happened with issue #183 , where I couldnot find any svg file named thunder, What do you suggest?

[2016-12-15 07:36] niccokunzmann commented on #187
Currently, we only work on the flappy.svg file.

[2016-12-15 07:41] Marauderer97 commented on #187
@niccokunzmann
So how do I look for character ball and fix this?

[2016-12-15 07:42] niccokunzmann commented on #187
You can try `grep -r ball`

[2016-12-15 07:46] Marauderer97 commented on #187
@niccokunzmann
![image](https://cloud.githubusercontent.com/assets/20185076/21215651/78ea9746-c2c8-11e6-9143-73b7e6464db0.png)
This is what I got, so should I remove Ball from the list, since it doesnot seem to appear elsewhere(and hence probably doesnot exist?)

[2016-12-15 07:48] niccokunzmann commented on #187
I do not know...

[2016-12-15 07:53] Marauderer97 commented on #187
![image](https://cloud.githubusercontent.com/assets/20185076/21215826/8d1e7af6-c2c9-11e6-8b26-7cae9d8ab59e.png)
@niccokunzmann , I am sorry if I am pestering you, it's just that I am still a bit unfamiliar with the project structure, but look, no Ball.svg listed under characters

[2016-12-15 07:56] niccokunzmann commented on #187
Hi, I like writing to you, so please do it :)

[2016-12-15 07:58] niccokunzmann commented on #187
There are is no ball.svg but ieven if there was, I think, index.html is still only displaying the flappy.svg file. This fale does not use any of the files that are displayed.
The files were created, so we can move to another project structure later which does not have only one huge svg file which is hard to edit but many small ones.

[2016-12-15 07:59] niccokunzmann commented on #187
Did this clarify more? Do you have new questions?

[2016-12-15 08:15] Marauderer97 commented on #187
@niccokunzmann
Yes, thank you, this helped :)
I will try looking for the ball component in flappy.svg file then

[2016-12-15 12:30] hemanthsavasere commented on #176
I think this should be closed as I added a creative commons license file for the background image.

[2016-12-15 13:05] niccokunzmann commented on #176
Right. https://github.com/fossasia/flappy-svg/commit/fbc2faa1ba367bb9a4531e529f58333867421eb3

[2016-12-15 13:05] #176 closed

[2016-12-15 14:06] Marauderer97 commented on #187
@niccokunzmann , in the flappy svg file, there is no inkscape label with value "ball", This is why the layer is not being rendered. What do you suggest, creating a ball element, or removing ball from the list?
![image](https://cloud.githubusercontent.com/assets/20185076/21226890/974dee9c-c2fd-11e6-897b-38158a2f9b9d.png)

[2016-12-15 15:15] Marauderer97 commented on #183
@niccokunzmann So after a lot of debugging effort :P this is what i found, while all other obstacles have multiple shapes(g tags) under the initial layer, thunder only has the layer and no other g tags defined under it. So no obstacles get pushed to the obstacle list and hence there is no obstacle box to check whether or not collision occurs. To fix this, I thing the thunder layer svg bit has to b

[2016-12-15 20:10] niccokunzmann commented on #183
okay.

[2016-12-16 03:40] Baidya99 commented on #122
Is this border named hull in the .svg? Then the issue is resolved as I added it in one of my previous [pull requests](https://github.com/fossasia/flappy-svg/pull/174).

[2016-12-16 14:16] hemanthsavasere commented on #183
I am closing it.

[2016-12-16 14:16] #183 closed

[2016-12-17 04:03] reallyly opened #190 "Change The Play Button's Colour"
I think the play button's colour needs to be changed, because it's hard to see the play button when the background is green like this:
![image](https://cloud.githubusercontent.com/assets/22024041/21284218/aa4bb27c-c447-11e6-858a-edf2fd73d2c3.png)

[2016-12-17 04:20] reallyly opened #191 "Obstacles Aren't Working In The "Palm" Background"
In this background option:
![image](https://cloud.githubusercontent.com/assets/22024041/21284319/cefb2f00-c44a-11e6-99a4-ea098ceaa2c4.png), it seem like I could play it forever because the obstacles aren't working. I assumed that the obstacles are the lightnings. My player has touched one of the lightnings, but it keeps playing:
![image](https://cloud.githubusercontent.com/assets/22024041/21284283

[2016-12-17 06:41] niccokunzmann commented on #187
@Marauderer97 Thanks for the change!

[2016-12-17 06:41] #187 closed

[2016-12-17 07:37] Marauderer97 commented on #190
I restyled the play button to look like this, does this look good? @niccokunzmann
![image](https://cloud.githubusercontent.com/assets/20185076/21285267/b1a4c114-c459-11e6-94e2-d51d8253365e.png)
![image](https://cloud.githubusercontent.com/assets/20185076/21285268/bd4079c8-c459-11e6-93cd-9ffd80fa72c8.png)
Or do you have more ideas?

[2016-12-17 08:09] Marauderer97 opened #192 "No obstacles being displayed in binary background."
There are no obstacles being displayed in binary background, and the game suddenly ends, claiming the user has hit an obstacle. I think this needs to be looked into.
![image](https://cloud.githubusercontent.com/assets/20185076/21285432/4343eaec-c45e-11e6-87ed-faa1bbf2f25d.png)
![image](https://cloud.githubusercontent.com/assets/20185076/21285438/a9754ec8-c45e-11e6-8447-e083951692ef.png)

[2016-12-17 08:52] niccokunzmann commented on #190
@Marauderer97 Would you like to create a pull-request, so we can merge the new button?

[2016-12-17 09:43] Marauderer97 commented on #190
@niccokunzmann Yeah sure, I'll do that, wanted to confirm with you first.

[2016-12-17 10:09] niccokunzmann commented on #190
@reallyly if you like, you can have a look an close the issue.

[2016-12-17 10:10] niccokunzmann opened #194 "Score button is not showing."
Somewhere the score button is not visible any more.

[2016-12-17 10:56] Marauderer97 commented on #194
@niccokunzmann where is this score button? on which page?

[2016-12-17 11:01] Marauderer97 opened #195 "Buttons in Main Menu give Page not found error."
![image](https://cloud.githubusercontent.com/assets/20185076/21286300/1703ee42-c476-11e6-9bee-5a0915c79b95.png)
Clicking on any of the above buttons in the main menu leads to the following error page
![image](https://cloud.githubusercontent.com/assets/20185076/21286303/33dfd184-c476-11e6-9e6c-328d48ec1ffe.png)

[2016-12-17 11:22] niccokunzmann commented on #194
It counts how many obstacles were crossed. It is in the game.

[2016-12-18 04:56] reallyly commented on #190
That looks nice @Marauderer97!

Okay @niccokunzmann :)

[2016-12-18 04:56] #190 closed

[2016-12-18 04:57] #191 closed

[2016-12-18 10:38] Baidya99 commented on #194
I would like to work on this.

[2016-12-18 15:26] Marauderer97 commented on #192
@niccokunzmann I realised this is happening because of the text "101010.." on the layer, can anyone tell me how to go about making such layers in svg so I know how to fix such bugs?

[2016-12-18 15:30] Marauderer97 commented on #172
Hey, is this fixed? If not I would like to try fixing it :)

[2016-12-18 21:24] niccokunzmann commented on #192
In Inkscape I can use the shortcut Control+Shift+L to open the layers. They are maybe in the view menu.

[2016-12-19 10:43] #194 closed

[2016-12-19 12:53] gaeun opened #200 "Fix error in "game over" screen"
The game over screen displays score = NaN by default, even when the score is higher than 0. This is a bug that needs to be fixed.

[2016-12-19 20:40] Marauderer97 commented on #192
@niccokunzmann I remade the binary background to look like this, now the obstacles display too, hope this works for you..
![image](https://cloud.githubusercontent.com/assets/20185076/21328335/70ff2c60-c659-11e6-9fd0-4cb06452b225.png)

[2016-12-20 10:50] hemanthsavasere opened #204 "No collisions happening in Island backround"
No collisions happening in Island background.

[2016-12-20 10:53] hemanthsavasere commented on #204
I don't know if this is labelled as GCI.

[2016-12-20 15:28] niccokunzmann opened #208 "Add update to an app"
There is an app for mac and several apps for android. One Andoid app already has the automatic download. Other apps copy the Github pages code. To keep the apps up-to-date, several things can be done:

Either:

- Create a new app for every commit or tag and upload it to github
- Makeethe apps download the gh-pages zip file and unpack it.

[2016-12-20 15:34] niccokunzmann commented on #200
@gaeun You can close it if you think it is solved. Thanks for pointing this out :)

[2016-12-20 15:42] gaeun commented on #200
@niccokunzmann Thanks! Could you approve this task (https://codein.withgoogle.com/dashboard/task-instances/6354451176620032/) for the PR I submitted (adding a new character)?

[2016-12-20 15:42] #200 closed

[2016-12-20 15:50] niccokunzmann opened #209 "No layer named "black_cat""
Currently, the game starts with
![image](https://cloud.githubusercontent.com/assets/564768/21357124/5eacef2c-c6d4-11e6-950d-c659ca7e3181.png)

[2016-12-20 15:54] niccokunzmann commented on #200
@gaeun I commented.

[2016-12-20 16:11] gaeun commented on #209
Oh that's weird. I'm on it right now

[2016-12-20 16:17] Abhi2424shek commented on #180
@rhemon this is shown currently:
![image](https://cloud.githubusercontent.com/assets/8947010/21358167/de98d9a2-c6fd-11e6-91bc-bf5664a4c081.png)

@niccokunzmann what do you say about this.

[2016-12-20 16:28] niccokunzmann opened #211 "Blue link to links.html file missing"
In the bottom right corner, there was a link, a blue one. It is missing.
When you add it, please relace it with an svg version, so it does not get lost so often.

[2016-12-20 17:47] Marauderer97 commented on #211
I would like to work on this.

[2016-12-20 21:35] niccokunzmann commented on #211
@Marauderer97 Sure, please go ahaead.

[2016-12-21 00:49] rhemon commented on #180
cool. but i think there were more backgrounds. not sure. but good work.

On Tue, 20 Dec 2016 10:17 pm Abishek V Ashok, <notifications@github.com>
wrote:

[2016-12-21 05:24] Marauderer97 commented on #192
@niccokunzmann  This branch is merged, but the binary background in the game is not updated, how come?

[2016-12-21 07:54] niccokunzmann commented on #192
I do not know. Are there commits in between? Maybe they reverted the change.

[2016-12-21 08:03] Abhi2424shek commented on #180
@rhemon not my work, someone among the community did it so it's our work right ?

[2016-12-21 08:12] hemanthsavasere commented on #172
This is fixed.

[2016-12-21 08:21] hemanthsavasere commented on #209
fixed it also

[2016-12-21 08:31] hemanthsavasere commented on #209
had to just add layer in svg file

[2016-12-21 09:00] Abhi2424shek opened #214 "Improvement ideas for FlappySVG_Android_2"
We could improve the app a lot, here are some suggestions:

- Put the app into the google play store [This would increase it's popularity]
- Put the app on Amazon app store

More ideas are accepted.

[2016-12-21 10:14] #172 closed

[2016-12-21 11:12] Abhi2424shek commented on #211
Isn't it a blue coloured link icon, it's there plz recheck

[2016-12-21 11:14] niccokunzmann commented on #211
Yes, it is there again!

[2016-12-21 11:14] #211 closed

[2016-12-21 11:14] Abhi2424shek commented on #211
So can we close this

[2016-12-21 11:15] niccokunzmann commented on #211
@Abhi2424shek Would you like to press the merge button from time to time?

[2016-12-21 11:15] Abhi2424shek commented on #180
@niccokunzmann suggestions @rhemon does not have access to close this

[2016-12-21 11:16] Abhi2424shek commented on #211
Sure

[2016-12-21 11:16] hemanthsavasere commented on #209
I think it is fixed.

[2016-12-21 11:17] niccokunzmann commented on #209
Cool, yes.

[2016-12-21 11:17] #209 closed

[2016-12-21 11:17] Abhi2424shek commented on #209
Yes he's fixed it @niccokunzmann it's working on my part too can you check

[2016-12-21 11:19] niccokunzmann commented on #108
@Abhi2424shek Have a look here, what do you think?

[2016-12-21 11:23] Abhi2424shek commented on #108
@niccokunzmann we could make the use of JavaScript as you mentioned. I think there is a JavaScript library for that, but we could easily do it without it too.

Do you want me to open up my terminal :)

[2016-12-21 11:33] niccokunzmann commented on #108
This issue is important for our high-quality workflow^^. So, if you have some more suggestions of how to solve it, I would like to read your pull-requests.
The idea: It makes it easier to review pull-requests, undo them and harder to make mistakes in the flappy.svg file.

[2016-12-21 11:55] Abhi2424shek commented on #108
Give me some time I got a n exam tomorrow and it's the last and the most tough so I would do a PR after that can you give me that much if time plz.

If yes expect a PR from me in 6 hours.

[2016-12-21 17:41] niccokunzmann opened #221 "Cannot reach several Characters"
There are some characters like Pokeball #220 and black_cat which I can not reach just by clicking the characters.

[2016-12-21 17:44] niccokunzmann commented on #108
@Abhi2424shek You have all the time you want and you do not need to do it. I wanted to point you here because you may like the challenge.

[2016-12-21 18:17] Marauderer97 commented on #221
@niccokunzmann do you want to add a button to select a particular character... like we do for backgrounds.. only it will make the screen too cluttered.. otherwise.. if you keep clicking on characters to change them, you can reach black_cat followed by pokeball

[2016-12-21 20:33] Marauderer97 commented on #195
@niccokunzmann can i add pages for these buttons, so they don't point to invalid pages?

[2016-12-21 20:53] #185 closed

[2016-12-21 20:54] #192 closed

[2016-12-21 20:56] niccokunzmann commented on #221
Yes, true. I have the game open the whole time and then it is cached. Thanks.

[2016-12-21 20:56] #221 closed

[2016-12-21 20:59] niccokunzmann commented on #195
I think, the pages are there. But: the links are not used.

[2016-12-22 01:52] Abhi2424shek commented on #108
I am on it then @niccokunzmann got this one.

[2016-12-22 02:08] FieryPhoenix909 opened #223 "Score"
I downloaded the app on my phone and the clicked update before playing. The score doesn't work.
https://mail.google.com/mail/u/1/?ui=2&ik=77f0fe9668&view=att&th=159243ac32b9d2e3&attid=0.1&disp=safe&realattid=1554379222384902144-local0&z
https://mail.google.com/mail/u/1/?ui=2&ik=77f0fe9668&view=att&th=159243ac32b9d2e3&attid=0.2&disp=safe&realattid=1554379222384902144-local1&z
https://mail.google.co

[2016-12-22 09:35] niccokunzmann commented on #223
Does it also not work on the website?
The score updates, when you cross a obstacle. Did you cross obstacles?

[2016-12-22 09:50] Abhi2424shek commented on #223
@niccokunzmann it's working on the website. We need to update the script on the apk to contain the new version.

[2016-12-22 09:52] Abhi2424shek commented on #45
@antoniomdk any progress.

[2016-12-22 09:52] #180 closed

[2016-12-22 09:53] Abhi2424shek commented on #153
@yvars updates want more help?

[2016-12-22 09:55] niccokunzmann commented on #223
It depends on the app. The app used here has an update functionality.

[2016-12-22 09:56] Abhi2424shek commented on #223
@FieryPhoenix909 are you using the latest version...

[2016-12-22 10:57] Abhi2424shek commented on #108
@niccokunzmann got a tidy fix but that would be a big change shall I go on, I would need to work arround maybe whole of the javascript in the site, so I taught I should ask your permission to submit a massive change on!

[2016-12-22 10:59] niccokunzmann commented on #108
Please commit the change to the flappy2.svg file.

[2016-12-22 10:59] niccokunzmann commented on #108
When all works, we just move it.

[2016-12-22 11:00] niccokunzmann commented on #108
I do not have much time today.

[2016-12-22 11:00] Abhi2424shek commented on #108
@niccokunzmann I won't finish it today but it sure that I will learn a lot!

[2016-12-22 14:21] yvars commented on #153
I completely forgot about this :P. Sure @Abhi2424shek. I still haven't figured out how to make automatic builds yet. I was focusing on other Code In tasks. It would be great if you could help me.

[2016-12-22 16:03] FieryPhoenix909 commented on #223
Yes, I downloaded it from the google play store and made sure to click the update button in the app before playing if that's what you mean.

@niccokunzmann The website works great and I am passing obstacles on my phone

[2016-12-22 16:22] FieryPhoenix909 commented on #223
I also wanted to point out that this is what the help screen looks on my phone. Not sure if my phones the problem but just so you know.
![screenshot_2016-12-22-11-10-37](https://cloud.githubusercontent.com/assets/23224432/21432291/c985b6ac-c838-11e6-91dd-963f18f24ea1.png)

[2016-12-24 08:43] Marauderer97 commented on #204
Changed the thunder background, collisions happen now
![image](https://cloud.githubusercontent.com/assets/20185076/21466110/2d61fbd0-c9e3-11e6-8df5-29dcf1a40ce9.png)

[2016-12-24 08:57] Marauderer97 opened #225 "Link to instructions does not look like a link"
The link to the instructions page doesnot look like a link, since the mouse pointer does not change on hovering, also it is a link to the git hub hosted instructions page, instead of the one within the flappy-svg folder

[2016-12-25 08:03] Abhi2424shek opened #228 "Layers in 'layers/' does not work"
The layers in 'layers/environment/{sea.sv,hull.svg,DayAndNight.svg}` and `layers/environement/obstacles` does not work, please make sure they work properly for this is needed very badly. I want the layers/ svg files to able to be displayed as an image (just try to open it with a browser and if nothing pops out you are seeing error!).

**Current SVG File's results:**
![image](https://cloud.githubus

[2016-12-25 08:12] Abhi2424shek commented on #108
@Cepe6 could you see issue #228

[2016-12-25 08:15] Abhi2424shek commented on #131
@niccokunzmann they all are working...

[2016-12-25 08:15] #131 closed

[2016-12-25 08:30] Abhi2424shek commented on #22
@hemanthsavasere @yesicaambriz15 @SilentFlame any updates on this

[2016-12-25 09:31] niccokunzmann commented on #228
This is all in flappy2.svg, I assume.

[2016-12-25 09:34] Abhi2424shek commented on #228
@niccokunzmann no, it's no there

[2016-12-25 09:35] niccokunzmann commented on #225
@Marauderer97 is it fixed?

[2016-12-25 09:37] Abhi2424shek commented on #225
@niccokunzmann yes it works!

[2016-12-25 09:37] #225 closed

[2016-12-25 09:40] Abhi2424shek commented on #223
@FieryPhoenix909 any updates

[2016-12-25 09:41] Abhi2424shek commented on #195
@Marauderer97 status on this pls?

[2016-12-25 09:41] niccokunzmann commented on #228
These are three questions for to bring across your point of view, I believe: What do you want to achieve? What did you try? What was different from what you expected? Can you edit the description at the top to include the answers?

[2016-12-25 09:41] Abhi2424shek commented on #181
@rhemon its working fine now, I tested it a lot of times (~7 times)

[2016-12-25 09:41] #181 closed

[2016-12-25 09:44] #122 closed

[2016-12-25 09:45] Abhi2424shek commented on #99
@vikasTmz can you work on this!

[2016-12-25 09:53] Abhi2424shek commented on #11
Would get a fix into it right away, but can it be online only? @niccokunzmann

[2016-12-25 09:53] Abhi2424shek commented on #78
@hemanthsavasere updates pls

[2016-12-25 09:55] Abhi2424shek commented on #92
@niccokunzmann we could add a post request to a specific url after gameover and record the score with the username which should be provided when game is over, we will neglect it for score < 1 (i.e, 0). We could implement security too by making a hash pair between the server and client so that the score does'not get updated without playing the game.

[2016-12-25 09:58] Abhi2424shek commented on #228
@niccokunzmann I think it's okay enough!

[2016-12-25 14:39] #204 closed

[2016-12-25 14:44] Marauderer97 commented on #228
@Abhi2424shek have you changed the style attribute to remove "style:none" because once you do.. you can see the layer, by default it is set so, and displayed only when the java script function is called. Hope this helps :).

[2016-12-25 14:51] Marauderer97 commented on #195
@Abhi2424shek I have fixed 1 of the links.. the otgers I haven't been able to find the pages, comment if you have any suggestions or ideas :)

[2016-12-25 16:04] Abhi2424shek commented on #228
I called the JavaScript function to display: inherit but let me give a try on this can you mention the exact line no for a reference.

[2016-12-26 11:07] Marauderer97 commented on #228
@Abhi2424shek This is what I mean, the display is set to none for each layer by default..
![image](https://cloud.githubusercontent.com/assets/20185076/21481054/941a0960-cb89-11e6-8a35-114b2ac52b9d.png)

[2016-12-26 11:19] Abhi2424shek commented on #228
@Marauderer97 k, I will get a fix in then!

[2016-12-26 14:19] Marauderer97 commented on #195
@niccokunzmann I have tried locating the html pages, but they seem to be missing in the flappy svg folder.This is where the links point..
![image](https://cloud.githubusercontent.com/assets/20185076/21483192/5ae2fc0e-cba4-11e6-8d2a-0ff6edf6f113.png)
.... shall I go ahead and add pages for these links then?

[2016-12-26 16:28] niccokunzmann commented on #195
Sure, go ahead!

On 26.12.2016 15:19, Marauderer97 wrote:

[2016-12-26 16:52] Abhi2424shek commented on #195
@Marauderer97 then go ahead we await your awesome PR.

[2016-12-27 10:59] Abhi2424shek commented on #228
@Marauderer97 see the updated issue!

[2016-12-27 21:53] Elgayar opened #233 "Octodex Character Layer is not working"
I expect to see my character available to pick. Instead, my character doesn't appear... However, there are no errors...
Any hints on what my problem might be?
Merge: #232

[2016-12-28 09:47] Abhi2424shek commented on #233
To make it available to pick you have to place a static IMG code under the Image tags where the characters are place. In the PR you added the character but did not make it available for choosing. See the code which makes other characters appear in flappy.svg file and

[2016-12-29 05:38] #195 closed

[2016-12-29 05:39] Marauderer97 commented on #233
@Elgayar Has this been fixed? I saw some new commits to the PR?

[2016-12-30 12:21] Marauderer97 commented on #223
@FieryPhoenix909 Can you try loading the help screen again, you might have used an old link, and the nav bar links in the main menu have been recently updated

[2016-12-30 21:35] oanarosca opened #239 "Dog character overlayed"
As you can see in the picture below, the dog character is not marked as a hidden layer in the flappy.svg file, and so it appears on top of the others, even during the game. I could easily fix it myself, but I think it would be a good issue for new contributors.
![screenshot from 2016-12-30 23-27-41](https://cloud.githubusercontent.com/assets/3405816/21572979/34008718-cee8-11e6-8728-7fa843b334ca.pn

[2017-01-03 13:20] Marauderer97 commented on #239
Isn't the dog character reachable via clicking on the characters, I tried reaching it but couldn't?

[2017-01-03 13:32] Abhi2424shek commented on #239
@Marauderer97 do you want to work for it if yes then please open a separate issue for the same and deliver a PR

[2017-01-03 15:01] Marauderer97 commented on #239
@Abhi2424shek I just made a PR, there were a few other minor changes, made them too. Please review.
P.S For some reason all my previous commits appear with each PR, I cannot find a way to fix it, and squashing it is leading to weird errors. I branch from gh-pages,  yet this happens, any suggestions about this would be appreciated.

[2017-01-03 16:56] Marauderer97 opened #242 "Errors in characters"
The following need to be fixed,
1. The dog must be reachable via clicking characters
2. Dog and ball must have their own svg files
3. Thunder layer should not be displayed by default.
4. The position of the ball needs to be modified, as it is too close to the play button.

[2017-01-03 20:20] #242 closed

[2017-01-03 23:11] niccokunzmann commented on #239
@Marauderer97 This is what I would try for removing unwanted commits:

1. You can check out a commit that is also in this repository (e.g. the last commit there). `git checkout <numbersandletrers>`
2. You create a new branch `git checkout -b branchname`
3. You cherry-pick the commits you like to have there: `git cherry-pick <numbersandletters>`
4. You push it
5. You create a pull-request

[2017-01-04 02:42] Marauderer97 commented on #239
@niccokunzmann Thanks! Have been struggling with this for a while now! :+1:

[2017-01-04 06:42] hemanthsavasere commented on #233
Hi @Elgayar,
When I saw the Flappy SVG file the octodex and the botty had same images.
I think that's what is happening.

[2017-01-04 07:20] hemanthsavasere commented on #233
fixed it @Elgayar

[2017-01-04 07:54] hemanthsavasere commented on #233
![image](https://cloud.githubusercontent.com/assets/11555217/21635001/009e58fe-d281-11e6-8f3b-d1b39ab0
![image](https://cloud.githubusercontent.com/assets/11555217/21635005/06b78f62-d281-11e6-9ca2-a1889d69889f.png)
bca3.png)
![image](https://cloud.githubusercontent.com/assets/11555217/21635010/0c644f5e-d281-11e6-8a62-e1d19d8d3c5e.png)

[2017-01-04 11:05] Elgayar commented on #233
Thank you so much :)

[2017-01-04 11:05] #233 closed

[2017-01-04 11:05] Elgayar commented on #233
Can you please tell me what exactly was the problem? @hemanthsavasere

[2017-01-04 11:13] hemanthsavasere commented on #233
Hey I saw your character in the layers file where each character had their individual svg files, but it was not there in the main flappy.svg file and there was botty character added instead of your octodex.

[2017-01-04 11:28] Elgayar commented on #233
Ohh, so it was just a silly mistake :D
Thanks again!

[2017-01-07 06:26] Abhi2424shek commented on #153
Use the cmd line to build it using grade, google for it @yvars if you can't figure it yet pls ping me on slack.

[2017-01-07 06:27] Abhi2424shek commented on #80
@SilentFrame still on it.

[2017-01-07 06:40] SilentFlame commented on #80
@Abhi2424shek , Sorry but no I'm not working on this currently.

you can carry on.

[2017-01-07 06:40] Abhi2424shek commented on #80
I was just asking...

[2017-01-07 06:43] SilentFlame commented on #80
No problem at all,
If you like, you can continue. Else just browse through other issues.

[2017-01-07 16:30] Abhi2424shek commented on #239
@marauderer97 if you are struggling here's a hint: you need to make the dog elements display: none using JavaScript just like other characters in the game :)

[2017-01-08 05:51] Marauderer97 commented on #239
@Abhi2424shek you have the context wrong, i was talking about help with the squash and merge.. i think this particular bug has been fixed long back.

[2017-01-08 05:59] Abhi2424shek commented on #239
I was talking on how to resolve the issue, @marunderer97 this issue is not fixed yet.

[2017-01-08 05:59] Marauderer97 commented on #239
Closing the issue to avoid confusion. This bug had been fixed a while ago.. not sure by whom.

[2017-01-08 06:01] Marauderer97 commented on #239
@Abhi2424shek  are u sure? Tge issue looks fixed to me.

[2017-01-08 06:04] Marauderer97 commented on #239
Oh my bad.. there seems to be an issue only when camel is selected.. yeah its pretty straightforward I think we should leave this for new comers.

[2017-01-08 06:04] Abhi2424shek commented on #239
Really sure, just see the current screenshots: (Not only for camel)
![image](https://cloud.githubusercontent.com/assets/8947010/21747710/69fbf06e-d596-11e6-8e92-15eb0d3040a4.png)

[2017-01-08 06:12] Marauderer97 commented on #239
@Abhi2424shek okay, I get it now, once the dog gets displayed, its visibility is never set back to none, yeah, I can of course fix this pretty easily but like already stated, I think this bug will be good for newcomers. If you think its already been too long go ahead and make a PR :)

[2017-01-08 06:31] Abhi2424shek commented on #239
@Marauderer97 I leave it for newcomers :)

[2017-01-09 17:07] Rohanhacker opened #246 "text is overflowing from restart button"
![screenshot from 2017-01-09 22-36-25](https://cloud.githubusercontent.com/assets/9512969/21775436/12b9b13e-d6bc-11e6-9037-6caa666dae3c.png)

[2017-01-10 01:27] #239 closed

[2017-01-10 09:13] #246 closed

[2017-01-10 11:23] Abhi2424shek commented on #223
@FieryPhoenix909 updates?

[2017-01-10 11:25] Abhi2424shek commented on #153
@yvars updates pls...

[2017-01-10 18:51] adarsh-ideal commented on #80
@niccokunzmann I'll work on this.

[2017-01-10 19:39] adarsh-ideal commented on #80
I don't have privilege to access webhooks service for fossasia repo.
Please do it Admins.
Checkbox 1

[2017-01-10 20:00] adarsh-ideal commented on #80
@niccokunzmann Please review and merge this Pull-Request.

[2017-01-11 08:59] niccokunzmann opened #250 "Create automatic build script for Android App"
It is possible

- [ ] To build the app with gradle
- [ ] To write down the shell command for this
- [ ] To make travis execute the shell command and build the app when a commit occurs
- [ ] To upload the apk file automatically to github releases
- [ ] Link the releases in the flappy game

[2017-01-11 09:01] #80 closed

[2017-01-11 09:07] niccokunzmann opened #251 "Document what is required for a green build"
We now have travis running #248.
Goal:
- provide a steep learning curve for newcomers
- Create 'more easy issues' based on travis where newcomers can contribute

- Document what travis needs on order to be green.
- Add examples of what could go wrong and how to solve it. (There might be special error messages almost unclear to nonprogrammers)

[2017-01-11 10:19] niccokunzmann opened #252 "Create automatic build for Windows app"
We can use [appveyor](appveyor.com) to build the windows flappy app automatically, when a commit occurs.

[2017-01-11 10:20] niccokunzmann commented on #252
@adarsh-ideal

Why do we need a new nsi script?

[2017-01-11 11:18] adarsh-ideal commented on #252
nsi is a scripting language created by [NSIS](https://sourceforge.net/projects/nsis/) to compile installers.

[2017-01-12 08:51] niccokunzmann opened #253 "Keyboard Control"
Allow controlling the Flappy-Game only via Keyboard:

- [ ] change character via space
- [ ] change background via `b`
- [ ] start the game via ENTER
- [ ] restart the game via space and ENTER when game is over
- [ ] Document this in the how-to

[2017-01-12 11:08] adarsh-ideal commented on #251
#### For a green build:
- Make sure the file is present where the link is pointing for it. e.g. There was a line "src=style/bootstrap/js/jquery.min.js" but there was no jquery.min.js in style>bootstrap>js folder.
- Don't link to any external resource.

[2017-01-12 13:04] Marauderer97 commented on #253
@niccokunzman I wiuld like to work on this :)

[2017-01-12 13:17] niccokunzmann commented on #253
@Marauderer97 sure, please go ahead!

[2017-01-12 16:52] Heredroky commented on #250
@niccokunzmann The app has to update only when someone creates a release?

[2017-01-12 17:39] niccokunzmann commented on #250
I do not care. Let's see what works.

[2017-01-12 18:03] Heredroky commented on #250
@niccokunzmann I will work on this, can you create a blank branch named "apk"?

[2017-01-12 19:32] niccokunzmann commented on #250
Please do it in your own branch. If you have some work, we can put it in an other branch.

[2017-01-12 20:02] niccokunzmann commented on #250
In the master branch, we could create a weekly build with travis, too.

[2017-01-12 22:30] Heredroky commented on #250
@niccokunzmann I will make it update when someone make release

[2017-01-12 22:47] niccokunzmann commented on #250
ok :)

[2017-01-13 02:32] Heredroky opened #255 "Travis is failing"
Travis has been failing, and it has several errors. I am working on this, Cheers 😄 !

[2017-01-13 13:38] Abhi2424shek opened #257 "Refactor the credits page with jekyll"
The credits page needs to be improved an use jekyll instead of static embedding. @niccokunzmann your views pls

[2017-01-13 15:02] #255 closed

[2017-01-13 16:03] Marauderer97 commented on #253
@niccokunzmann I have implemented the first 3 points. As for the restart, handling two keystrokes at once was giving me trouble, so I used r key to restart the game. I decided to wait for your approval before modifying the how to play svg. :)

[2017-01-13 20:42] niccokunzmann commented on #257
If we use Jekyll, we need an other procedure to download the website for the apps - they download the app from the gh-pages branch and update this way.

Could you go more into detail, what improved means?

[2017-01-13 20:55] niccokunzmann opened #259 "Remove a character's onclick function"
Have a look at https://github.com/fossasia/flappy-svg/pull/258#discussion_r96070640
There, we have all the characters listed.

- [ ] create a function `next_character()` that selects and shows the next character
- [ ] remove the onclick function from  the characters
- [ ] when the website is loaded: set teh onclick attribute to the `next_character` function in all the characters

[2017-01-15 00:10] FieryPhoenix909 commented on #223
The help screen is still like that and the score still doesn't work. I don't think i'm doing anything wrong in updating the app and playing and stuff. Srry I took so long to reply. got caught up with midterms and school etc. XD

[2017-01-15 00:57] jayvdb commented on #228
@Marauderer97 , is this bug valid?

[2017-01-15 00:58] jayvdb commented on #108
Is #228 still needed?

@niccokunzmann , was this issue completely fixed in https://github.com/fossasia/flappy-svg/pull/227 and https://github.com/fossasia/flappy-svg/pull/231 ?

[2017-01-15 02:56] jayvdb commented on #214
Would it be possible to merge FlappySVG_Android_2 into FlappySVG_Android ?

From what I can quickly see, FlappySVG_Android_2 has a more advanced UI, and the main feature that FlappySVG_Android has is offline support.
It would be better if we can have one app that has both sets of features ;-)
And also it would be better if the history of the app code shows features being added each year during (or

[2017-01-15 04:44] hemanthsavasere commented on #259
Hi @niccokunzmann
I would like to work on this.

[2017-01-15 07:21] Abhi2424shek commented on #214
Yep that will be awesome

[2017-01-15 07:22] Abhi2424shek commented on #108
Nope we need to fix the JavaScript as well @jayvdb since labels can no longer be used

[2017-01-15 07:22] #228 closed

[2017-01-15 07:23] Abhi2424shek commented on #223
We would fix the credits page then

[2017-01-15 10:58] niccokunzmann opened #260 "Add loading animation"
The game grows bigger and bigger. Loading can take some time.
Please add a loading information that displays at least at the beginning, when the website is loaded and is not visible when the website is loaded.

[2017-01-15 10:58] niccokunzmann opened #261 "First Android app: loading of game takes a long time"
After having played the game several times, the restart time is long and the screen is white:

Possible ways to remove the problem:

- add loading screen #260
- make the loading faster - The app has the game locally. It should not be a problem to load it fast. Maybe the showing browser needs to be removed and added again.

[2017-01-15 11:03] niccokunzmann commented on #214
@jayvdb merging the apps is a nice idea.

[2017-01-16 08:54] niccokunzmann commented on #250
@Heredroky Would you like to try out github releases?
Have a look [at the code](https://github.com/fossasia/meilix/blob/master/.travis.yml#L17) and at the [result](https://github.com/fossasia/meilix/releases).

[2017-01-16 08:55] niccokunzmann opened #263 "Add travis build badge"
Many respotitories using travis have the build image in the README. Please add the build image.

[2017-01-16 08:58] niccokunzmann opened #264 "Make build fail when APK did not compile"
In order to see if the APK compiles, make the build fail when something like this occurs:
https://travis-ci.org/fossasia/flappy-svg#L312

This can be done in a shell script with

    set -e

at the beginning or checking of the commands and adding `exit ...`.

[2017-01-16 09:08] niccokunzmann commented on #250
@Heredroky I am waiting for the email of the build bot to arrive. The build bot account can have all the permissions in the token. https://github.com/flappysvgbuildbot

[2017-01-17 02:07] hemanthsavasere commented on #260
Hi @niccokunzmann,
I can do this.

[2017-01-17 02:48] Abhi2424shek commented on #260
Sure!

[2017-01-17 07:18] niccokunzmann commented on #260
Sure, please go ahead :)

On 17.01.2017 03:07, Hemanth Savasere wrote:

[2017-01-18 09:29] #263 closed

[2017-01-19 12:06] Abhi2424shek commented on #257
Then we will go for static embedding, the issues page @niccokunzmann looks bad, we could possible materialize it.

[2017-01-20 06:12] Abhi2424shek commented on #71
@harry-7 updates

[2017-01-20 06:13] Abhi2424shek commented on #92
@SilentFrame are you at this?

[2017-02-08 14:04] Abhi2424shek commented on #259
@hemanthsavasere status on this pls

[2017-02-08 14:12] Abhi2424shek opened #266 "Merge apps"
From what I can quickly see, FlappySVG_Android_2 has a more advanced UI, and the main feature that FlappySVG_Android has is offline support.
It would be better if we can have one app that has both sets of features ;-)
And also it would be better if the history of the app code shows features being added each year during (or soon after) GCI.
Then next GCI, participants can use the existing app with

[2017-02-08 14:15] Abhi2424shek commented on #261
Well this would be irreverent as of #266

[2017-02-08 14:15] #261 closed

[2017-02-08 14:16] Abhi2424shek commented on #250
@niccokunzmann any updates?

[2017-02-08 14:17] Abhi2424shek commented on #214
Followup on #266

[2017-02-08 14:17] #214 closed

[2017-02-08 14:18] Abhi2424shek commented on #118
Irrevalent since GCI is over

[2017-02-08 14:18] #118 closed

[2017-02-08 14:19] Abhi2424shek commented on #26
Irrevalent as of #266

[2017-02-08 14:19] #26 closed

[2017-02-08 14:21] Abhi2424shek commented on #21
Claiming this as #104 is merged

[2017-02-08 14:21] #21 closed

[2017-02-09 00:48] niccokunzmann commented on #250
Yes, the build bot is there. I can generate such a token. However, I do not have the rights to add this token to travis. I can not edit the travis settings.

[2017-02-09 00:50] niccokunzmann commented on #250
Somehow I lost the administrative privileges for the repository. I will see if I can regain them.

[2017-02-09 09:28] Abhi2424shek commented on #250
@niccokunzmann i don't have administrative privileges but having write access i could help you, mail me the token or #slack and I will set it up if you want :)

[2017-02-09 19:11] niccokunzmann commented on #250
@Abhi2424shek, I sent you an email. Thanks!

[2017-02-09 19:13] niccokunzmann commented on #250
The user is [flappysvgbuildbot](https://github.com/flappysvgbuildbot). I do not see if it can contribute.

[2017-02-10 11:02] Abhi2424shek commented on #250
I added the token as BOT_TOKEN

[2017-02-10 11:03] Abhi2424shek commented on #250
Add it as a contributor now

[2017-02-16 07:44] Abhi2424shek commented on #257
Would open a new issue

[2017-02-16 07:44] #257 closed

[2017-02-16 07:47] Abhi2424shek commented on #108
This is the progress. We have splitter the characters and backgrounds and made them to be embedded inside a particular page, now the JavaScript needs refraction, the major problem is that the embed tag no longer works instead we should use id's.
So thing we should do to solve this issue is only to refractor JavaScript.

[2017-02-18 16:00] #260 closed

[2017-04-14 17:34] khrisdaniels commented on #259
Is this still open? Where do you want the function to be created? in the Start.js or in Characters SVG?

[2017-04-14 18:13] niccokunzmann commented on #259
I think, you can choose what feels best for you.
If it is created once at start, then it should be in the start.js.
However, if you put it in the characters, ....

You can evaluate this.

On 14.04.2017 19:34, Khris Danielle Jalog wrote:

[2017-05-04 19:01] MahamZafar commented on #64
I would like to work on this issue. Can someone guide me how to get started?

[2017-05-04 20:33] niccokunzmann commented on #64
@MahamZafar Hi!

You can find the tasks here: https://github.com/fossasia/flappy-svg/tree/master/tasks
You can edit the pages.
1. Edit & fork - pencil icon
2. Commit changes
3. create pull-request
4. I will look at it and merge it.

You can choose from the tasks above like " add headings to the tasks". But if you find other improvements, they are welcome!
Could I help? May I answer further questio

[2017-05-06 12:35] MahamZafar commented on #64
Hey!
If I want to contribute in "animate a character" task, then I just have to
draw a unique character in Inkscape? Or do I have to manage its movements
through code too?

Regards,
Maham Zafar

On Fri, May 5, 2017 at 1:33 AM, Nicco Kunzmann <notifications@github.com>
wrote:

[2017-05-06 14:58] niccokunzmann commented on #64
You can do that.
You can also take an existing character and add CSS animations.
You can choose. Maybe a start would be an eye of an existing character that always looks at the mouse or rotates.

[2017-05-06 15:00] MahamZafar commented on #64
Actually, I have made a character in Inkscape. Kindly have a look.

Regards,
Maham Zafar

On Sat, May 6, 2017 at 7:58 PM, Nicco Kunzmann <notifications@github.com>
wrote:

[2017-05-06 15:00] niccokunzmann commented on #64
Could you create a pull-request?

[2017-05-06 15:02] MahamZafar commented on #64
Okay i will do it ow.

Regards,
Maham Zafar

On Sat, May 6, 2017 at 8:00 PM, Nicco Kunzmann <notifications@github.com>
wrote:

[2017-06-08 14:46] MahamZafar commented on #64
Hey!
Thanks a lot for considering my small animated character and adding it in
your open source project. I just needed to confirm that  my character is
not appearing in game play?
I was waiting to play the game with my character.
It will be great if you could add my character.

Regards,
Maham Zafar

On Sat, May 6, 2017 at 8:02 PM, Maham Zafar <mahamzafar56@gmail.com> wrote:

[2017-06-08 14:53] niccokunzmann commented on #64
@MahamZafar I believe, it is correct, that it does not show up. The game currently only shows the flappy.svg file. The character must be placed in this file. Then, it shows up. #268

[2017-07-01 19:18] VRamazing commented on #78
Can I Work on this.I am a front end developer.I think I can do a good job.

[2017-07-01 19:25] VRamazing opened #269 "Why does this game has pathetic graphics"
Ok this may sound rude and yet the graphics are pathetic and it is really confusing to play as you can't differentiate the background from obstacle.
The way the menu screen and character select screen is displayed is even worse.
As a user I wouldn't play this game.As a developer, I am here to help you out.

[2017-07-02 04:43] niccokunzmann commented on #78
Hi, sure.

On 7/1/17 9:18 PM, Vignesh Ramesh wrote:

[2017-07-02 04:43] niccokunzmann commented on #269
You can suggest improvements and create a pull-request.

[2017-07-02 05:32] niccokunzmann commented on #269
If you could change the wording so it is more apparent that you value prior efforts, I would very much appreciate it.

[2017-07-02 07:53] abishekvashok commented on #78
@VRamaxing sure :)

[2017-07-05 10:42] VRamazing commented on #269
niccokunzmann I would try to improve on this and create a pull request,Thanks for your time.

[2017-07-10 18:32] harry-7 commented on #90
hey @niccokunzmann . Can I take this up ? Or is the GCI thing still going on ?

[2017-07-10 22:30] niccokunzmann commented on #90
@harry-7 sure you can take this up, regardless of GCI going on or not.

[2017-07-19 14:44] harry-7 commented on #90
@niccokunzmann  what is the idea behind level.start() and level.stop() methods? as in what work needs to be done by them?

[2017-10-20 14:46] harry-7 commented on #108
@niccokunzmann @abishekvashok  what refractor are you speaking about?

[2017-10-20 15:34] abishekvashok commented on #108
@harry-7 pls refer the code, we have successfully split the svg file into multiple svg files and included them in an html file. But the code would need some refractor, currently the indetifiers used has become nested and therefore those indetifiers parts need a refractor.

[2017-10-25 09:28] harry-7 commented on #259
@niccokunzmann @abishekvashok  I created a pull request solving this issue. Please take a look and let me know if there is anything that needed to be changed

[2017-10-25 19:26] #259 closed

[2017-11-05 19:12] #269 closed

[2018-06-13 08:35] niccokunzmann commented on #64
@mayonnaise-is-an-instrument Thanks for taking this on!

[2018-06-13 08:35] #64 closed

[2018-12-06 20:11] CavanWagg commented on #264
Is this still up for grabs? I'd like to take this on.

[2019-10-01 18:10] lexcorp16 commented on #264
Hi @niccokunzmann can you point me in the right direction as to what needs to be done? thanks

[2019-10-02 18:23] niccokunzmann commented on #264
Hi and welcome! For me personally, nothing needs to be done. I am fine
with how it is. Maybe someone else has an idea.
What do you think needs to be done?

On 10/1/19 8:10 PM, Fasoro-Joseph Alexander wrote:

[2019-10-04 16:51] ivandosreisandrade opened #273 "Game Over without touching any object?"
Hello,
Was just trying this project for [Hacktoberfest 2019](https://hacktoberfest.digitalocean.com/details) and while searching throughout one of the README files, there was a link to http://flappy.fossasia.org/ where it was possible to test the game. I'm not sure if that's just a test URL where the game is not supposed to work at all or not. But I was constantly getting Game Over without hitting

[2019-10-05 06:53] tripti1410 opened #274 "Help page doesn't open in chrome browser"

[2019-10-08 09:06] niccokunzmann commented on #273
Thanks for reporting this.  Maybe someone likes to work on this.

[2019-10-08 09:07] niccokunzmann commented on #274
@tripti1410 Can this be closed? I guess so. Write if it should not be closed :) Thanks for the PR.

[2019-10-08 09:07] #274 closed

[2019-10-09 12:06] TheClassicWizard opened #281 "How to Play Link leads to Blank Page in Chrome!"
**Issue**
When we click on "?" icon on http://flappy.fossasia.org/, it leads to http://flappy.fossasia.org/howtoplay.html which is just a blank page!
![Screenshot (2)](https://user-images.githubusercontent.com/46593194/66479971-375aeb00-eabb-11e9-85a5-b4568bb5e25d.png)

[2019-10-09 12:08] #281 closed

[2019-10-13 03:33] unsuitable001 commented on #273
I'd like to try this issue :smile:

[2019-10-13 05:21] unsuitable001 opened #289 "[ci] Build failure because of broken Play Store link"
The Play Store link for this project is broken.
https://play.google.com/store/apps/details?id=fossasia.flappysvg

That's why every Travis CI build is failing.

[2020-10-01 13:50] hwilson2563 commented on #22
Hope I can contribute to this project 😃

[2021-06-11 06:34] mamba-dev-KE commented on #78
Just started exploring contribution to open source. Can I work on this issue?? Thanks.

[2021-08-30 11:00] Asher-MS opened #296 "No Sound in the github pages version of the app"
This might be due to the incorrect URL when getting the sound resources

[2021-09-05 07:40] SandeepKrSuman opened #298 "Typos in the hints readme file"
![Screenshot (441)](https://user-images.githubusercontent.com/54541515/132119315-a09dad3b-db0e-42dd-a4f6-2abf62f1e235.png)

[2021-09-28 17:51] athanasiab opened #300 "Not ending game when touching object"
At the beginning of the game, if the first object appears early, it sometimes doesn't end the game until you touch the next object.
Example (bat icon):
![Screenshot (1601)](https://user-images.githubusercontent.com/46161935/135138206-94249914-6d2c-45c8-b05a-7678d194d211.png)
![Screenshot (1600)](https://user-images.githubusercontent.com/46161935/135138214-66f6272c-cb2a-40bc-98b8-79ba6b0b46a4.png)

[2021-09-28 18:57] athanasiab opened #301 "Error message"
At times, when replaying the game an error message appears saying "Error: getLayerNamed: Can not find a layer named "score_board". You should debug!".

![error message on replay](https://user-images.githubusercontent.com/46161935/135148322-bac8c3fb-3f16-4854-af59-af178dc900c7.png)

[2021-10-06 03:36] kushalShukla-web commented on #301
can i pls

[2021-10-06 03:41] kushalShukla-web commented on #300
can i pls

[2021-10-06 04:00] kushalShukla-web commented on #301
could you pls elaborate it .i mean what i have to do...

[2021-10-06 04:02] kushalShukla-web commented on #273
i can do this . pls assign this issue to me.

[2021-10-06 07:22] athanasiab commented on #301
I haven't studied the code but from the error message it seems that there is a connection with a file (or something like a method)  called "score_board" that isn't working properly

[2021-10-06 07:25] athanasiab commented on #300
I guess. The project doesn't seem active so, I don't know if the creator is still working on it in order to respond to you. But I think you could still send a pull request with your suggested fix

[2021-10-06 12:40] kushalShukla-web commented on #301
okay im new in this open source and wanna contribute ur organization  can u pls help me.

[2021-10-07 02:30] kushalShukla-web commented on #301
@athanasiab  i want  active project in foss asia this one is not what im looking for can you pls help me.

[2021-11-19 16:51] kzeer commented on #273
I am currently looking at this issue! Can someone please assign it to me?

[2021-11-19 17:26] kzeer commented on #273
I made my own local branch and made changes to it. I am having trouble pushing my local branch to GitHub. Any suggestions?

0587462263:flappy-svg xxxx$  git push --set-upstream origin issue_273
Username for 'https://github.com': kzeer
Password for 'https://kzeer@github.com':
remote: Permission to fossasia/flappy-svg.git denied to kzeer.
fatal: unable to access 'https://github.com/fossasia/flappy-s

[2021-12-08 23:24] kzeer commented on #45
I implemented this feature, please let me know what you think!

[2021-12-23 08:49] skanda1395 commented on #301
Hi @athanasiab

I'd like to contribute. Could you assign this to me?

[2021-12-23 16:52] athanasiab commented on #301
@skanda1395 it doesn't seem to allow me to assign people to the issue

[2022-02-19 16:34] BaltzisK opened #305 "Bugs"
1) The game is not ending:
After playing the game i noticed that a message appears on screen(Game over),but the game is keep on playing and the score increases too

2) The hitbox is incorrect:
I was passing by the objects without touching them and the game was over.

3)Clicking 3 times
I was rapidly clicking  and after the 2nd click the screen freezes for a second

https://user-images.githubuserco